<section id="addPatient" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 form-content form-horizontal">
            <h1>Prescribe Medicine</h1>
            <form name="editMedicineForm" novalidate>
                <fieldset>

                    <div>
                    <div class="form-group col-xs-12">
                        <input autofocus class="form-control" ng-model="ctrl.medicine.prescription" id="prescription" type="text" name="prescription"
                               placeholder="Prescription"/>
                        <label for="prescription">Prescription: </label>
                    </div>
                    <div class="form-group col-xs-12">
                        <input class="form-control" mask="39/19/9999" ng-model="ctrl.medicine.startDate"
                               id="startDate" type="text" name="startDate"
                               placeholder="Start Date"/>
                        <label for="startDate">Start Date</label>
                    </div>

                    <div class="form-group col-xs-12">
                        <select class="form-control" ng-model="ctrl.medicine.dosage.frequency"
                                ng-options="frequencyOption for frequencyOption in ctrl.frequencyOptions"
                        id="frequency">
                        </select>
                        <label for="frequency">Dosage</label>
                    </div>
                    <div class="form-group col-xs-12">

                        <label for="status" class="input-checkbox">
                            <input type="checkbox" ng-model="ctrl.medicine.status"
                                   ng-true-value="'Active'" ng-false-value="'InActive'" id="status">
                            Status</label>
                    </div>


                    </div>

                    <div class="actions row">
                        <div class="form-group col-xs-12">
                            <a class="btn btn-default btn-block" type="button" value="Update"
                               ng-click="ctrl.updateMedicine()">Update</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>