
.tiles {
  margin-bottom: 2rem !important;
}

.tile {
  position: relative;
  width: 33.33%;
  text-align: center;
  height: 20rem;
  margin: 0;
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;

  .tile--content {
    padding-top: 3rem;
  }

  .tile--icon {
    position: relative;
    font-size: 8rem;
    padding: 2.5rem;
    border: 1px solid white;
    border-radius: 3rem;

    box-shadow: 1px 0px 20px $landing-green;
    color: $footer-gray-1;

    &:before {
      text-shadow: 2px 2px 5px $heading-color;
    }
  }

  .tile-title {
    margin: 2rem 0;
    font-size: 2rem;
    color: $footer-gray-1;
  }

  .tile-count {
    position: absolute;
    padding: 0.5rem;
    width: 3rem;
    text-align: center;
    border-radius: 50%;
    background-color: #E95140;
    color: white;
    margin-right: 0.5rem;
    top: -12px;
    right: 4px;
    line-height: 2rem;
    box-shadow: 0px 2px 1px $footer-gray-1;
    font-weight: bold;
  }

  @include media-query(xs) {
    width: 50%;
  }

  //&:first-child {
  //  background-color: $landing-yellow;
  //}
  //&:last-child {
  //  background-color: $landing-teal;
  //}
  //
  //&:nth-child(3) {
  //  background-color: $landing-red;
  //}
  //&:nth-child(2) {
  //  background-color: $landing-green;
  //}
  //&:nth-child(5) {
  //  background-color: $footer-gray-1;
  //}
  //&:nth-child(4) {
  //  background-color: $heading-color;
  //}
}

#patientDashboard {
  .emergency-btn {
    width: 90%;
    height: 6rem;
    line-height: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
}

#providerDashboard, #patientDashboard {
  padding: 0 3rem;

  h1 {
    text-align: center;
    margin-bottom: 5rem;
  }

  .page-content-row {
    text-align: center;
  }

  p {
    width: 50%;
    position: absolute;
    right: -80px;
    top: 10px;
    text-align: left;

    .tile-title {
      color: $heading-color;
    }
  }
}