.btn-default {
  border-color: $landing-green;
  color: white;
  background-color: $landing-teal;

  &:hover, &:active {
    border-color: $landing-teal;
    color: white;
    background-color: $landing-green;
  }
}

.actions {
  padding: 2rem 0;
}

#registration {
  .multi-families {
    margin-top: 30px;
  }
}

#patientInsurance {
  .primary-insurance label {
    padding-top: 3rem;
  }

  label[for='subscriberAddress'] {
    margin-left: 1.75rem;
  }
}

#addPatient {
  .remove-patient {
    padding-top: 0.75rem;
    display: inline-block;
  }
}