@import "vars";

#landing-page {
  header {
    padding-bottom: 2rem ;

    @include media-query(xxxs){
      text-align: center;
    }
  }

  .landing--login {
    position: relative;
    color: white;

    @include gradient-bar($landing-teal, $landing-green);

    -webkit-clip-path: polygon(100% 0, 100% 100%, 83% 100%, 73% 84%, 60% 100%, 48% 92%, 27% 100%, 14% 86%, 0 85%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 83% 100%, 73% 84%, 60% 100%, 48% 92%, 27% 100%, 14% 86%, 0 85%, 0 0);

    h1 {
      margin: 0 0 2rem 0;
      color: white;
    }
  }

  .landing--form {
    padding-bottom: 8rem;

    form {
      padding: 2rem;
      background: rgba(84, 107, 107, 0.3);
      border-radius: 0.5rem;
    }

    .btn-primary {
      background-color: transparent;
      border-color: white;

      &:hover {
        background-color: white;
        color: $landing-teal;
      }
    }

    .btn-link {
      color: white;
      text-decoration: underline;
      padding-top: 1px;
    }
  }

  .landing--marketing {
    position: absolute;
    transform: rotate(-12deg);
    right: -125px;
    top: 23px;

    @include box-shadow(-2px, -2px, 6px, $landing-marketing-shadow);

    @include media-query(sm) {
      right: -190px;
    }
  }

  .landing--services, .landing--dashboard{
    padding: 4rem 0;
  }

  .landing--services{
    img {
      width: 500px;
      height: 370px;

      @include media-query(sm) {
        width: 320px;
        height: 488px;
      }
    }

  }

  .landing--services__service{
    padding: 1rem;
  }

  .landing--dashboard__patient, .landing--dashboard__provider {
    padding: 4rem;
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  }
}