#patientTimeline {
  padding: 0 2rem;

  .timeline-header .btn-group {
    margin-top: 1rem;
  }

  .page-main-content {
    padding: 1rem;
  }

  timeline-badge{
    i {
      font-size: 2rem;
    }
    @include status-bg;
  }

  .timeline-heading {
    @include status-color;
  }

  .legend {
    line-height: 6.5rem;
    text-align: right;

    span:not(:last-child) {
      margin-right: 1rem;
    }

    .success {
      color: $landing-teal;
    }
    .warning {
      color: $tile-orange !important;
    }
    .danger {
      color: $tile-red !important;
    }
  }

  timeline-panel {
    padding: 6px 12px;
    top: 30px;

    &:before {
      top: 8px;
    }

    &:after {
      top: 9px;
    }
  }

  #filterMenu {
    position: fixed;
    bottom: 40px;
    right: 30px;

    @include status-bg;

    ul {
      border: 1px solid $landing-teal;
      border-radius: 6px;
    }

    li {
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 50%;
      color: white;
    }
  }
}