@mixin status-borderColor() {
  &.success {
    border-color: $landing-teal;

    &:before {
      border-left-color: $landing-teal;
      border-right-color: $landing-teal;

    }
  }
  &.warning {
    border-color: $tile-orange;

    &:before {
      border-left-color: $tile-orange;
      border-right-color: $tile-orange;

    }
  }
  &.danger {
    border-color: $tile-red;

    &:before {
      border-left-color: $tile-red;
      border-right-color: $tile-red;
    }
  }
}

#patientTimeline {
  padding: 0 2rem;

  .timeline-header .btn-group {
    margin-top: 1rem;
  }

  .page-main-content {
    padding: 1rem;
  }

  timeline-badge{
    i {
      font-size: 2rem;
    }
    @include status-bg;
  }

  .timeline-heading {
    @include status-color;
  }

  .legend {
    line-height: 6.5rem;
    text-align: right;

    span:not(:last-child) {
      margin-right: 1rem;
    }

    .success {
      color: $landing-teal;
    }
    .warning {
      color: $tile-orange !important;
    }
    .danger {
      color: $tile-red !important;
    }
  }

  timeline-panel {
    padding: 6px 12px;
    top: 30px;

    &:before {
      top: 8px;
    }

    &:after {
      top: 9px;
    }

    @include status-borderColor;
  }

  #filterMenu {
    position: fixed;
    bottom: 40px;
    right: 30px;

    @include status-bg;

    ul {
      border: 1px solid $landing-teal;
      border-radius: 6px;
    }

    li {
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 50%;
      color: white;
      cursor: pointer;

      &:hover {
        @include box-shadow(1px, 2px, 2px, $landing-marketing-shadow);
      }

      &.in-active {
        background-color: $landing-marketing-shadow !important;
        
        &:hover {
          background: inherit;
        }
      }

    }
  }

}