$landing-green: #4CB8C4;
$landing-teal: #3CD3AD;
$landing-marketing-shadow: #546b6b;

$footer-gray: #16222A;
$footer-gray-1: #3A6073;

$heading-color: #b76ac4;
$text-color: #6b7c93;

//Messages
$error: #ec6e73;