$landing-green: #4CB8C4;
$landing-teal: #3CD3AD;
$landing-marketing-shadow: #546b6b;
$body-background: #f6f9fc;

$footer-gray: #16222A;
$footer-gray-1: #3A6073;

$heading-color: #b76ac4;
$text-color: #6b7c93;

$tile-blue: #74D1DA;
$tile-red: #E95140;
$tile-yellow: #FFC240;
$tile-orange: #FF9A40;

//Messages
$error: #ec6e73;

//Gutters
// Base spacing
$gutter: 2.4rem;
$gutter-double: 2 * $gutter;
$gutter-quarter: $gutter/4;
$gutter-third: $gutter/3;
$gutter-half: $gutter/2;
$gutter-two-thirds: $gutter-third * 2;
$gutter-and-half: $gutter + $gutter-half;