@import "vars";
@import "mixins";
@import "modules/typograhy";
@import "media-query";
@import "landing";
@import "header";
@import "form";
@import "dashboard";

html {
  position: relative;
  height: 100%;
}

body {
  height: calc(100% - 100px);
  font-size: 100%;
  color: $text-color;
  background-color: $body-background;
  background-size: contain;
  background-image: url(/images/list-background.png);
  background-repeat: repeat repeat;
}

.error-msg {
  display: none;
}

.has-error {
  .error-msg {
    color: $error;
    display: block;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  color: white;

  @include gradient-bar($footer-gray, $footer-gray-1);

  @include media-query(xxxs) {
    text-align: center;
  }
}

section {
  padding: 2rem 0;
}

/* Vendor CSS off */
#ghostery-purple-box {
  display: none;
}

ul.list-inline {
  margin: 0;

  & > li {
    padding: 0;
  }
}

.form-control:focus {
  outline: none !important;
  border:1px solid $landing-green;
  box-shadow: 0 0 1rem $landing-teal;
}

.avatar{
  text-transform: uppercase;
  color: $footer-gray !important;
  line-height: 4rem;
  text-decoration: none;
  font-size: 2rem;

  &:hover {
    color: white !important;
  }
}

a:hover {
  text-decoration: none;
}

.main-content {
  height: 100%;
  display: table;
  width: 100%;
}

.page-content {
  display: table-cell;
  vertical-align: middle;
}