@import "vars";
@import "mixins";
@import "media-query";
@import "landing";
@import "header";
@import "form";

html {
  position: relative;
  height: 100%;
}

body {
  color: $text-color;
  background-color: $body-background;
}

.error-msg {
  display: none;
}

.has-error {
  .error-msg {
    color: $error;
    display: block;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  color: white;

  @include gradient-bar($footer-gray, $footer-gray-1);

  @include media-query(xxxs) {
    text-align: center;
  }
}

section {
  padding: 2rem 0;
}

/* Vendor CSS off */
#ghostery-purple-box {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

ul.list-inline {
  margin: 0;
}

.form-control:focus {
  outline: none !important;
  border:1px solid $landing-green;
  box-shadow: 0 0 1rem $landing-teal;
}

.avatar{
  text-transform: uppercase;
  color: $footer-gray !important;
  line-height: 4rem;
  text-decoration: none;
  font-size: 2rem;

  &:hover {
    color: white !important;
  }
}

a:hover {
  text-decoration: none;
}

.main-content {

}