<section id="patientLookup" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-content-row">
            <h1>Patient Lookup</h1>
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" placeholder="Patient Lookup"
                       ng-model="ctrl.selectedPatient"
                       uib-typeahead="patient as patient.first_name for patient in ctrl.patients | filter:$viewValue | limitTo:4"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>

        <div ng-if="ctrl.selectedPatient" class="col-xs-12 col-sm-10 col-sm-offset-1 page-content-row">
            <h1>Patient Information <img class="img-thumbnail" alt="Patient Image" src="{{ctrl.selectedPatient.image}}" width="50" height="50"/></h1>
            <div class="col-md-6">
                <div class="col-md-3">First Name</div>
                <div class="col-md-3">{{ctrl.selectedPatient.first_name}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Last Name</div>
                <div class="col-md-3">{{ctrl.selectedPatient.last_name}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Email</div>
                <div class="col-md-3">{{ctrl.selectedPatient.email}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Gender</div>
                <div class="col-md-3">{{ctrl.selectedPatient.gender}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Address</div>
                <div class="col-md-3">{{ctrl.selectedPatient.Address}}</div>
            </div>


<!--
                "first_name": "Peter",
                "last_name": "Spencer",
                "email": "pspencer0@seesaa.net",
                "gender": "Male",
                "Address": "65844 Rieder Court",
                "doHelpRequire": false,
                "SSN": "185-41-2427",
                "image":-->
            </div>
        </div>
    </div>
</section>
