<section id="patientLookup" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-content-row">
            <h1>Patient Lookup</h1>
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" placeholder="Patient Lookup"
                       ng-model="ctrl.selectedPatient"
                       uib-typeahead="patient as patient.profile.first_name for patient in ctrl.patients | filter:$viewValue | limitTo:4"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>

        <div ng-if="ctrl.selectedPatient.profile.id" class="col-xs-12 col-sm-10 col-sm-offset-1 page-content-row">
            <div class="clearfix">
            <h2 class="heading">Patient Information</h2>
            <ul class="list-inline actions">
                <li><a class="btn btn-link" ui-sref="root.provider.carePlan"> Plan Details</a> |</li>
                <li><a class="btn btn-link" ui-sref="root.patient.timeline"> History</a></li>
                <li ng-if="ctrl.selectedPatient.emergencyHelp">
                    <a class="btn btn-danger">Need Emergency</a>
                </li>
            </ul>
            </div>
            <masonry-wall classmasonry-wall-brick=".masonry-brick">
                <masonry-brick-sizer class="masonry-brick--sizer"></masonry-brick-sizer>
                <masonry-brick-gutter class="masonry-brick--gutter"></masonry-brick-gutter>
                <masonry-brick class="masonry-brick" ng-repeat="(key, item) in ctrl.selectedPatient" ng-if="ctrl.getBrick(key)">
                    <div class="masonry-brick__header">
                        <div class="masonry-brick__heading">{{ ctrl.getBrick(key).title }}</div>
                    </div>
                    <div class="masonry-brick__body" ng-include="ctrl.getBrick(key).templateUrl">
                    </div>
                </masonry-brick>
            </masonry-wall>
        </div>
    </div>
    </div>
</section>
