<div class="prefs-brick">
    <ul class="list-inline">
        <li>
            <span class="col-xs-6 text-left"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
            <span class="col-xs-6 text-center">
                <switch name="email"
                        ng-model="item.email"
                        on="Yes" off="No" class="green"></switch>
            </span>
        </li>
        <li>
            <span class="col-xs-6 text-left"><i class="fa fa-comments" aria-hidden="true"></i> Text</span>
            <span class="col-xs-6 text-center">
                <switch name="text"
                        ng-model="item.text"
                        on="Yes" off="No" class="green"></switch>
            </span>
        </li>
        <li>
            <span class="col-xs-6 text-left"><i class="fa fa-envelope" aria-hidden="true"></i> Phone</span>
            <span class="col-xs-6 text-center">
                <switch name="phone"
                        ng-model="item.phone"
                        on="Yes" off="No" class="green"></switch>
            </span>
        </li>
    </ul>
</div>