<section id="addPatient" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 form-content">
            <h1>Patient Questionnaire</h1>
            <form name="addPatient" novalidate>
                <fieldset>
                    <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="patientQuestionnaire.open" ng-repeat="patientQuestionnaire in ctrl.patientQuestionnaires">
                        <uib-accordion-heading>
                            {{patientQuestionnaire.heading}} <i ng-click="ctrl.toggleQuestion(patientQuestionnaire)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': patientQuestionnaire.open, 'glyphicon-chevron-right': !patientQuestionnaire.open}"></i>
                        </uib-accordion-heading>
                        <div class="col-xs-12" ng-if="patientQuestionnaire.open">
                        <div class="col-xs-6">
                            {{patientQuestionnaire.question}}
                        </div>
                            <div class="col-xs-6">
                        <div ng-switch="patientQuestionnaire.answer.type">
                            <div ng-switch-when="radio">
                                <div ng-repeat="option in patientQuestionnaire.answer.options">
                                    <input type="radio" name="radio" ng-model="patientQuestionnaire.answer.selectedValue" ng-value="option.value"/>
                                    {{option.label}}
                                </div>
                            </div>
                            <div ng-switch-when="number"><input type="number" class="form-control" ng-model="patientQuestionnaire.answer.selectedValue"></div>
                            <div ng-switch-when="textbox"><input type="text" class="form-control" ng-model="patientQuestionnaire.answer.selectedValue"></div>
                            <div ng-switch-default><textarea class="form-control" ng-model="patientQuestionnaire.answer.selectedValue" id="textArea"></textarea></div>
                        </div>
                            </div>
                        </div>

                    </div>
                    </uib-accordion>
                    <div class="form-group col-xs-12">
                        <a class="btn btn-default btn-block" type="button" value="Next"
                           ui-sref="root.patient">Next</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>