<div class="grid simple search-all">
    <div class="basic-pro-detl">
        <div class="grid simple">
            <div class="tab-content">
                <div class="tab-pane active" id="myProfileEdit">
                    <div class="row ">
                        <div class="col-md-12">
                            <h4 class="semi-bold clearfix">Basic Details</h4>
                            <!-- {{$ctrl.serachModel}} -->
                            <div class="hr-line"> </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="bmd-list-group-col">
                                                <p class="list-group-item-left pull-left">Age</p>
                                                <div class="list-group-item-right pull-right"> <select class="minimal sear-drop" ng-model="$ctrl.serachModel.age.from" convert-to-number> 
                                                 
                                                    <option ng-repeat="_ in ((_ = []) && (_.length=40) && _) track by $index" value="{{(18+$index)}}" >{{18+$index}} Yrs</option>
                                                </select>
                                                     <span class="select-half"> To </span> <select class="minimal sear-drop"  ng-model="$ctrl.serachModel.age.to" convert-to-number> 
                                                            <option ng-repeat="_ in ((_ = []) && (_.length=40) && _) track by $index" value="{{(21+$index)}}">{{21+$index}} Yrs</option>
                                                        </select> </div>
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left"> Marital Status </p>
                                                <div class="list-group-item-right pull-right">
                                                     <ui-select multiple ng-model="$ctrl.serachModel.maritialstatus" on-select="$ctrl.onSelectCallback($item, $model,'maritialstatus')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select maritial status...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="ms.value as ms in $ctrl.formdata.MaritialStatus | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="ms.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left"> Mother Tounge </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.mothertounge" on-select="$ctrl.onSelectCallback($item, $model,'mothertounge')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select mother tounge...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="mt.value as mt in $ctrl.formdata.mother_tongues | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="mt.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left">Religion </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.religion" on-remove="$ctrl.removedRL($item, $model,'religion')" close-on-select="false" on-select="$ctrl.onSelectCallbackRelgion($item, $model,'religion')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Choose religion...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="rl.value as rl in $ctrl.formdata.religions | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="rl.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="bmd-list-group-col">
                                                <p class="list-group-item-left pull-left"> Country Living IN </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.country" on-remove="$ctrl.removedCountry($item, $model,'country')" close-on-select="false" on-select="$ctrl.onSelectCallbackCounry($item, $model,'country')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Choose country...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="cn.id as cn in $ctrl.countrys | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="cn.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left"> State Living IN </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.state" on-remove="$ctrl.removedCountry($item, $model,'state')" close-on-select="false" ng-disabled="$ctrl.DisabledState" on-select="$ctrl.onSelectCallbackState($item, $model,'state')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Choose state...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices group-by="'cname'" repeat="st in $ctrl.states | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="st.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left"> City Living IN </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.city" ng-disabled="$ctrl.DisabledCity" close-on-select="false" on-select="$ctrl.onSelectCallbackCity($item, $model,'city')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Choose city...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices group-by="'sname'" repeat="ct in $ctrl.cities | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="ct.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                               
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left">Caste</p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.caste" close-on-select="false" ng-disabled="$ctrl.casteDisabled" on-select="$ctrl.onSelectCallbackCaste($item, $model,'caste')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Choose Caste...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices group-by="'rname'" repeat="cs in $ctrl.casteData | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="cs.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <h4 class="semi-bold clearfix"></h4>
                            <h4 class="semi-bold clearfix">Educaiton & Work Information</h4>
                            <div class="hr-line"> </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="bmd-list-group-col">
                                                <p class="list-group-item-left pull-left">Heighest Education </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.high_edu" on-select="$ctrl.onSelectCallback($item, $model,'high_edu')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select education...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="ed.value as ed in $ctrl.formdata.educations | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="ed.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="bmd-list-group-col">
                                                <p class="list-group-item-left pull-left">Occupation </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.occupation" on-select="$ctrl.onSelectCallback($item, $model,'occupation')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select occupation...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="oc.value as oc in $ctrl.formdata.occupations | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="oc.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="bmd-list-group-col">
                                                <p class="list-group-item-left pull-left">Annual Income</p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.aincome" on-select="$ctrl.onSelectCallback($item, $model,'aincome')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select anal income...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="ai.value as ai in $ctrl.formdata.aincome | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="ai.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <h4 class="semi-bold clearfix"></h4>
                            <h4 class="semi-bold clearfix"> Appearence & Interests</h4>
                            <div class="hr-line"> </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="bmd-list-group-col">
                                                <p class="list-group-item-left pull-left">Height </p>
                                                <div class="list-group-item-right pull-right"> <select class="minimal sear-drop" ng-model="$ctrl.serachModel.height.from" convert-to-number="height"> 
                                                        <option ng-repeat="h in $ctrl.formdata.height" value="{{h}}">{{h | height}}</option>
                                                     </select>
                                                     <span class="select-half"> To </span> <select class="minimal sear-drop" ng-model="$ctrl.serachModel.height.to" convert-to-number="height">
                                                            <option ng-repeat="h in $ctrl.formdata.height" value="{{h}}">{{h | height}}</option>
                                                         </select> </div>
                                               
                                                <p class="clearfix"> </p>
                                                <p class="list-group-item-left pull-left">Expectation</p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.expectation" on-select="$ctrl.onSelectCallback($item, $model,'expectation')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select expectation...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="itm.value as itm in $ctrl.formdata.Expectation | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="itm.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left">Horoscope Details </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.horoscope" on-select="$ctrl.onSelectCallback($item, $model,'horoscope')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select horoscope...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="itm.value as itm in $ctrl.formdata.Horoscope | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="itm.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="bmd-list-group-col">
                                                   
                                                    <p class="list-group-item-left pull-left">Physical Status</p>
                                                    <div class="list-group-item-right pull-right">
                                                        <ui-select multiple ng-model="$ctrl.serachModel.physical_status" on-select="$ctrl.onSelectCallback($item, $model,'physical_status')" theme="bootstrap" style="width: 220px;">
                                                            <ui-select-match placeholder="Select Physical Status...">{{$item.name}}</ui-select-match>
                                                            <ui-select-choices repeat="ph.value as ph in $ctrl.formdata.PhysicalStatus | propsFilter:{name: $select.search}">
                                                                <div ng-bind-html="ph.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <p class="clearfix"> </p>
                                                <p class="list-group-item-left pull-left">Complection </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.complexion" on-select="$ctrl.onSelectCallback($item, $model,'complexion')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select complexion...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="itm.value as itm in $ctrl.formdata.complexion | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="itm.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <p class="clearfix"></p>
                                                <p class="list-group-item-left pull-left">Body Type </p>
                                                <div class="list-group-item-right pull-right">
                                                    <ui-select multiple ng-model="$ctrl.serachModel.body_type" on-select="$ctrl.onSelectCallback($item, $model,'body_type')" theme="bootstrap" style="width: 220px;">
                                                        <ui-select-match placeholder="Select body type...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="itm.value as itm in $ctrl.formdata.BodyType | propsFilter:{name: $select.search}">
                                                            <div ng-bind-html="itm.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                               
                                                <p class="clearfix"></p>
                                               </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!$ctrl.partnerPre">
                            <div class="col-md-12">
                    <h4 class="semi-bold clearfix"></h4>
                    <h4 class="semi-bold clearfix">More</h4>
                    <div class="hr-line"> </div>
                    <div class="row">
                           
                        <!-- <div class="col-md-12 ng-hide">
                            <h4 class="semi-bold clearfix"></h4>
                            <div class="hr-line"> </div>
                            <div class="row">
                                <div class="clearfix"></div>
                                <div class="col-lg-12">
                                    <div class="list-group-item-left pull-left " style="width: 22%">Email Me New Results </div>
                                    <div class="list-group-item-right pull-left" style="line-height: 38px;">
                                        <div class="radio radio-success"> <input id="yes" name="optionyes" value="yes" type="radio"> <label for="yes">Daily</label> <input id="twice-week" name="optionyes" value="no" checked="checked" type="radio"> <label for="twice-week">Twice Week</label> <input id="once-week" name="optionyes" value="no" checked="checked" type="radio"> <label for="once-week">Once a Week</label> <input id="never" name="optionyes" value="no" checked="checked" type="radio"> <label for="never">Newer</label> </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <div class="col-lg-12">
                            <div class="list-group-item-left pull-left " style="width: 22%">Show Profile </div>
                            <div class="list-group-item-right pull-left" style="line-height: 38px;width:63%">
                                <div class="checkbox check-default">
                                   
                                    <span ng-repeat="item in $ctrl.showProfile" ng-click="$ctrl.check(item,$ctrl.showProfile,'ANY_1')">

                                            <input id="{{item.value}}" ng-model="item.selected" type="checkbox" value="{{item.value}}"> <label for="{{item.value}}">{{item.name}}</label>
                                            
                                    </span>
                                   
                                    </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                            <div class="list-group-item-left pull-left " style="width: 22%">Posted By </div>
                            <div class="list-group-item-right pull-left" style="line-height: 38px;">
                                <div class="checkbox check-default"> 
                                        <span ng-repeat="item in $ctrl.PostedBy" ng-click="$ctrl.check(item,$ctrl.PostedBy,'ANY_2')">
                                                
                                         <input id="{{item.value}}" ng-model="item.selected" type="checkbox" value="{{item.value}}"> <label for="{{item.value}}">{{item.name}}</label>
                                                                                                            
                                                                                                    </span> 
                                    </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                       <div class="col-lg-12">
                            <div class="list-group-item-left pull-left " style="width: 22%">Don't Show </div>
                            <div class="list-group-item-right pull-left" style="line-height: 38px;">
                                <div class="checkbox check-default"> 
                                        <span ng-repeat="item in $ctrl.dontShow" ng-click="$ctrl.check(item,$ctrl.dontShow,'ANY_3')">
                                                
                                         <input id="{{item.value}}" ng-model="item.selected" type="checkbox" value="{{item.value}}"> <label for="{{item.value}}">{{item.name}}</label>
                                                                                                            
                                          </span>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
    </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 clearfix"> <button type="button" ng-click="$ctrl.search()" class="btn btn-primary btn-cons search-by-btn m-t-30 col-md-offset-4 col-lg-4"> <i ng-class="{'fa fa-search':!$ctrl.partnerPre,'fa fa-save':$ctrl.partnerPre}"></i>&nbsp;{{$ctrl.partnerPre ? 'SAVE' : 'SEARCH' | translate}}</button>
                            <div class="m-t-30"> <a  ng-click="$ctrl.reset()" class="btn btn-danger" type="reset"> Reset</a> </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>