<div class="user-profile" ng-if="$ctrl.isNoti==='NOID'">

  <img ng-if="$ctrl.pic.view==='EMPTY' || $ctrl.pic.view==='CONFIRM'" water-mark="$ctrl.pic.displaypic" width="35" height="35">

  <img ng-if="$ctrl.pic.view==='BLUR'" ng-src="{{login_user_gender==='MALE'? 'assets/img/blur_female.jpg':'assets/img/blur_male.jpg'}}"
    width="35" height="35">
</div>
<div class="user-profile-pic pull-left cursorpointer" ng-if="$ctrl.isNoti==='WITHID'">
  <img ng-if="$ctrl.pic.view==='EMPTY' || $ctrl.pic.view==='CONFIRM'" water-mark="$ctrl.pic.displaypic" alt="" width="91" height="88"
  />
  <img ng-if="$ctrl.pic.view==='BLUR'" ng-src="{{login_user_gender==='MALE'? 'assets/img/blur_female.jpg':'assets/img/blur_male.jpg'}}"
    width="91" height="88">
  <p style="width: 105px;"> ( {{$ctrl.user.user_id}} )</p>
</div>
<div class="user-profile-pic  match-p-h" ng-if="$ctrl.isNoti==='BIGPHOTO'">
  <img water-mark="$ctrl.pic.displaypic" alt="">
</div>
<div class="user-profile-pic" ng-if="$ctrl.isNoti==='MDPHOTO'">
  <img water-mark="$ctrl.pic.displaypic" alt="" width="91" height="88" />
</div>
<div class="user-profile-pic pull-left" ng-if="$ctrl.isNoti==='MD2PHOTO'">
  <img water-mark="$ctrl.pic.displaypic" alt="" height="99" width="120">
</div>
<div class="user-profile-pic " ng-if="$ctrl.isNoti==='BIG2PHOTO'">
  <a class="lightbox thumbnail" title="">
    <img water-mark="$ctrl.pic.displaypic" alt="">
  </a>

</div>