<div class="user-profile" ng-if="$ctrl.isNoti">
    
          <img ng-if="$ctrl.pic.view==='EMPTY' || $ctrl.pic.view==='CONFIRM'" water-mark="$ctrl.pic.displaypic" width="35"
            height="35">
    
          <img ng-if="$ctrl.pic.view==='BLUR'" ng-src="{{login_user_gender==='MALE'? 'dist/assets/img/blur_female.jpg':'dist/assets/img/blur_male.jpg'}}"
            width="35" height="35">
</div>
<div  class="user-profile-pic pull-left cursorpointer" ng-if="!$ctrl.isNoti">
    <img ng-if="$ctrl.pic.view==='EMPTY' || $ctrl.pic.view==='CONFIRM'" water-mark="$ctrl.pic.displaypic" alt="" width="91" height="88" />
    <img ng-if="$ctrl.pic.view==='BLUR'" ng-src="{{login_user_gender==='MALE'? 'dist/assets/img/blur_female.jpg':'dist/assets/img/blur_male.jpg'}}"
    width="91" height="88">
    <p > ( {{$ctrl.user.user_id}} )</p>
</div>