<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  
    <div class="clearfix"></div>
    <div class="content1">

   
   
      <div class="row">

       <!------------------------ Left Strat -------------------------->
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-4 p-r-0">
   
          
                                <!--- messages accordian Start-->

          <div class="grid simple accounts-list">
            <div class="grid-title no-border">
              <h4 class="bold">Account Settings</h4>
            </div>
            <div class="grid-body no-border pro-bord">  
                <div class="panel-group" >
          
                 
                 <div class="list-group"> 
                   
                                 <a href="edit-contact.html" class="list-group-item disabled ">Edit Contact Details</a> 
                                  <!-- <a href="notifications-settings.html" class="list-group-item">Notification Settings </a> -->
                          <!-- <a href="edit-sms-notification.html" class="list-group-item ">Edit SMS, Notification Alert </a> -->


                          <a href="change-password.html" class="list-group-item">Change Password </a>
                          <!-- <a href="who-can-view-profile.html" class="list-group-item"> Who Can View My Profilencelled </a>
                            <a href="deactivate-profile.html" class="list-group-item">Deactivate Profile</a>
                             <a href="delete-profile.html" class="list-group-item ">Delete Profile</a>
                             <a href="my-preferable.html" class="list-group-item">My Preferable Calling Times </a> -->
                        </div>
                  
     
      
      
    </div>
            </div> 
          </div>                   
        
 
            <div class="grid simple no-padding ad-here">
              <div class="grid-body no-border no-padding">  
                <img src="assets/img/290x269.jpg"/>
              </div>
            </div>

 
    </div>
    <!------------------------------------------------ profile End ------------------------------------------------>
    <!------------------------------------------------ you maylike Strat ------------------------------------------------>
  <div class="col-md-9 col-lg-9 col-xs-12 col-sm-8 ">
       <div class="col-md-9 col-lg-9 col-xs-12 no-padding ">
        <div class="grid simple acc-body">
              <div class="prof-title no-border">
                <h4 class="">Notification Settings</h4>

             
              </div>
              <div class="grid-body   no-border">
                <div class="hr-line"> </div>
                  <div class="row"> 
                    <div class="col-lg-12 m-t-10">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 

                    </p>
                    </div>
           

                    

                  </div>

                  <div class="grid-body no-border pro-bord no-padding">  
                <div class="panel-group" id="accordion" data-toggle="">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="">
                        <a>
                          Manage Your Account Settings
                        </a>
                      </h5>
                    </div>
                    <div id="" class="panel-collapse collapse in">
                      <div class="panel-body">
      
<div class="col-lg-12 no-padding">

                     <p class="recent-h-n"> Message </p>
                     <p class="small-text">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>                           
                             
                              <div class="pull-left" >
                          
                                <switch id="enabled1" name="enabled1" ng-model="$ctrl.setting.message" on="Yes" off="No" class=" wide pripubsw"></switch>
                                
                  
</div>



                    </div>
              
                    <div class=" clearfix"></div>
                    <div class="col-lg-12 m-t-10 no-padding">

                     <p class="recent-h-n"> Photo </p>
                     <p class="small-text">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>                           
                             
                                <div class="pull-left" >
                          
                                    <switch id="enabled1" name="enabled1" ng-model="$ctrl.setting.photo" on="Yes" off="No" class=" wide pripubsw"></switch>
                                    
                  
</div>
</div>                    <div class=" clearfix"></div>
                    <div class="col-lg-12 m-t-10 no-padding">

                     <p class="recent-h-n"> Contact </p>
                     <p class="small-text">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>                           
                             
                               <div class="pull-left" >
                          
                                <switch id="enabled1" name="enabled1" ng-model="$ctrl.setting.contact" on="Yes" off="No" class=" wide pripubsw"></switch>
                                
                  
</div></div>
<div class=" clearfix"></div>
                    
<div class="col-lg-12 m-t-10 no-padding">
    
                         <p class="recent-h-n"> Email </p>
                         <p class="small-text">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>                           
                                 
                                   <div class="pull-left" >
                              
                                    <switch id="enabled1" name="enabled1" ng-model="$ctrl.setting.email" on="Yes" off="No" class=" wide pripubsw"></switch>
                                    
                      
    </div></div>
    <div class="clearfix"></div>
    <div class="col-lg-12 m-t-10 no-padding">
            
                                 <p class="recent-h-n"> Notification </p>
                                 <p class="small-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>                           
                                         
                                           <div class="pull-left" >
                                      
                                            <switch id="enabled1" name="enabled1" ng-model="$ctrl.setting.notification" on="Yes" off="No" class=" wide pripubsw"></switch>
                                            
                              
            </div></div>
            <div class="clearfix"></div>
    <div class="col-xs-12 clearfix"> 
        <button type="button" ng-click="$ctrl.save()" class="btn btn-primary btn-cons search-by-btn m-t-30 col-md-offset-4 col-lg-4"> <i class="fa fa-save"></i>&nbsp;{{'SAVE' | translate}}</button>
       
    </div>
                  
</div></div>
</div></div>



                    
 


                 </div>
             
  
   
    </div>
            </div> 

            
                </div>
             
              


                

  <div class="col-md-3 col-lg-3 col-sm-12  col-xs-12  ">
     <div class="grid simple no-padding ad-here">
              <div class="grid-body no-border no-padding">  
                <img src="assets/img/290x269.jpg"/>
              </div>
            </div>

</div>

       
    
</div>
</div>
</div>
</div>