<section id="patientInsurance" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 form-content">
            <h1>Insurance Information</h1>
            <form name="insurance" novalidate>
                <h4>Primary Insurance Info</h4>
                <fieldset>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <select class="form-control" name="primaryInsuranceProvider" id="insuranceProvide">
                                <option value="UHC">United Health Care</option>
                                <option value="BCBS">BCBS</option>
                                <option value="humana">Humana</option>
                                <option value="Multiplan">Multiplan</option>
                            </select>
                            <label for="insuranceProvide">Insurance Provider</label>
                        </div>
                        <div class="form-group col-xs-6">
                            <input id="policyNumber" class="form-control" id="policy" name="policy"
                                   placeholder="Policy Number" />
                            <label for="policyNumber">Policy Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <input id="effectiveDate" class="form-control" type="text" name="effectiveDate"
                                   mask="39/19/9999"
                                   ng-model="ctrl.user.insurance.effectiveDate" placeholder="Effective Date"/>
                            <label for="effectiveDate">Effective Date</label>
                        </div>
                        <div class="form-group col-xs-6">
                            <input class="form-control" id="groupNumber" type="text" name="groupNumber"
                                   placeholder="Group Number"/>
                            <label for="groupNumber">Group Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <select class="form-control" name="relationship">
                                <option value="spouse">Spouse</option>
                                <option value="mother">Mother</option>
                                <option value="father">Father</option>
                                <option value="other">Other</option>
                            </select>
                            <label>Relationship</label>
                        </div>
                        <div class="form-group primary-insurance col-xs-6">
                            <label for="primaryInsurance" class="input-checkbox">
                                <input type="checkbox" id="primaryInsurance" name="primaryInsurance">
                                Primary
                            </label>
                        </div>
                    </div>
                </fieldset>
                <h4>Subscriber Info</h4>
                <fieldset>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <input class="form-control" id="firstName" type="text" name="firstName"
                                   placeholder="First Name"/>
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="form-group col-xs-4">
                            <input class="form-control" id="middleName" type="text" name="middleName"
                                   placeholder="Middle Name"/>
                            <label for="middleName">Middle Name</label>
                        </div>
                        <div class="form-group col-xs-4">
                            <input class="form-control" id="lastName" type="text" name="lastName"
                                   placeholder="Last Name"/>
                            <label for="lastName">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-6">
                            <input class="form-control" id="subscriberId" type="text" name="subscriberId"
                                   placeholder="Subscriber ID"/>
                            <label for="subscriberId">Subscriber Id</label>
                        </div>
                        <div class="form-group col-xs-6">
                            <input id="subscriberSSN" class="form-control" id="ssn" type="text" name="ssn"
                                   placeholder="SSN" mask="999-99-9999"
                                   ng-model="ctrl.user.insurance.subscriber.ssn"/>
                            <label for="subscriberSSN">SSN</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <input id="subscriberDOB" class="form-control" type="text" placeholder="Date of Birth"
                                   mask="39/19/9999"
                                   ng-model="ctrl.user.insurance.subscriber.dob"/>
                            <label for="subscriberDOB">Date of Birth</label>
                        </div>
                        <div class="form-group col-xs-6">
                            <input id="subscriberPhone" class="form-control" id="subscriberPhone" type="text"
                                   name="subscriberPhone" mask="(999)-999-9999"
                                   ng-model="ctrl.user.insurance.subscriber.phone" placeholder="Phone Number"/>
                            <label for="subscriberPhone">Phone Number</label>
                        </div>
                    </div>
                    <h6>Address</h6>
                    <div class="row subscriberAddress" id="subscriberAddressLine1">
                        <div class="form-group col-xs-12">
                            <input class="form-control" type="text" name="subscriberAddressLine1"
                                   placeholder="Address Line1"/>
                            <label for="subscriberAddressLine1">Address <Line1></Line1></label>
                        </div>
                        <div class="form-group col-xs-12">
                            <input class="form-control" id="subscriberAddressLine2" type="text"
                                   name="subscriberAddressLine2"
                                   placeholder="Address Line2"/>
                            <label for="subscriberAddressLine2">Address Line2</label>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" name="subscriberCity" id="subscriberCity"
                                   placeholder="City"/>
                            <label for="subscriberCity">City</label>
                        </div>
                        <div class="form-group col-xs-3">
                            <input class="form-control" type="text" name="subscriberState" id="subscriberState"
                                   placeholder="State" mask="99999"
                                   ng-model="ctrl.user.insurance.subscriber.state"/>
                            <label for="subscriberState">State</label>
                        </div>
                        <div class="form-group col-xs-4">
                            <input class="form-control" type="text" name="subscriberZipcode" id="subscriberZipcode"
                                   placeholder="Zip Code" mask="99999"
                                   ng-model="ctrl.user.insurance.subscriber.zipcode"/>
                            <label for="subscriberZipcode">Zip Code</label>
                        </div>
                    </div>
                </fieldset>
                <div class="actions row">
                    <div class="col-xs-6">
                        <a ui-sref="root.patient" class="btn btn-link">Skip if already configured</a>
                    </div>
                    <div class="form-group col-xs-6">
                        <a class="btn btn-default btn-block" type="button" value="Next"
                           ui-sref="root.patient.add">Next</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>