<form name="composemail">
<div class="  compose-all-p">
    <div class="">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="$ctrl.cancel()" aria-hidden="true">×</button>
         
             <div class="row">
              <div class="col-lg-12 profile-img"> 
             
               <span class="pull-left">
                
               <img class="pull-left m-r-20" water-mark="$ctrl.photo" width="35" height="35">

               </span>
              <span class="pull-left"> <h4 class="compose-p-h"> {{$ctrl.user.first_name}} {{$ctrl.user.last_name}} <span class="small-text"> ( {{$ctrl.user.user_id}} ) </span></h4>
              <span class="prof-id pull-left p-r-20 small-text"> {{$ctrl.user.age}} years, {{$ctrl.user.userintrests[0].height | height}}, {{$ctrl.userLocation.city.name}} </span>  </span>
              
                </div>

              </div>
      
        </div>
        <div class="modal-body mail-pop-all">
          <div class="row send-to">

          <div class="col-lg-2 p-r-0 send-n">{{$ctrl.config.type==="NEW" || $ctrl.config.type==="SENT" || $ctrl.config.type==="SEND" ? 'SENT_TO' : 'FROM' | translate }}</div>
          <div class="col-lg-10 no-padding send-text"> 
            <input type="text" ng-disabled="$ctrl.config.type!=='NEW'" ng-model="$ctrl.messageModel.send_to" required placeholder="Ex - DB123456" ng-blur="$ctrl.onBlur($event)"> </div>
       

       </div>
       <div class="form-group userMsg" ng-if="$ctrl.UserType!='SEND_MESSAGE'">
          <span ng-if="$ctrl.UserType=='USER_NOT_EXITS'">{{'COMPOSEMAIL_USERDOESNTEX'| translate}}</span>
         <span ng-if="$ctrl.UserType=='USER_BY_BLOCK'">{{'COMPOSEMAIL_PLSUNBLOCKUSER'| translate}}</span>
         <span ng-if="$ctrl.UserType=='SEND_MESSAGE_REQUEST'">{{'COMPOSEMAIL_PLZSENDMESREQ'| translate}}</span>
         <span ng-if="$ctrl.UserType=='SEND_MESSAGE_REQUEST_REMIND'">{{'COMPOSEMAIL_UHAVESENDMESREQ'| translate}}</span>
        
         
      </div>
          <div class="form-group" ng-if="$ctrl.config.type!=='NEW' && $ctrl.config.type!=='SEND'">
            <label for="exampleInputEmail1">{{'COMPOSEMAIL_MESSAGE'| translate}}</label>
         {{$ctrl.config.msg}}
          </div>
       

       <div class="row send-to" ng-if="$ctrl.UserType=='SEND_MESSAGE'">
        <div class="col-lg-12"> <textarea rows="10"  style="height:100px;"  ng-model="$ctrl.messageModel.message" maxlength="400" required></textarea>

         <p>{{'COMPOSEMAIL_MAX'| translate}} <span>400 </span> {{'COMPOSEMAIL_CHARACTERS'| translate}}</p> 
        </div>
       
       </div>

        </div>
        <div class="modal-footer">
            <button type="button " ng-if="$ctrl.UserType=='USER_BY_BLOCK'" class="btn btn-primary yes-btn" ng-click="$ctrl.send()">{{'COMPOSEMAIL_UNBLOCK'| translate}}</button>
            <button type="button " ng-if="$ctrl.UserType=='SEND_MESSAGE_REQUEST'" class="btn btn-primary yes-btn" ng-click="$ctrl.send()">{{'COMPOSEMAIL_SENDREQ'| translate}}</button>

         <button type="button " ng-if="$ctrl.UserType=='SEND_MESSAGE'"  ng-disabled="composemail.$invalid" class="btn btn-primary yes-btn" ng-click="$ctrl.send()">{{$ctrl.config.type==="NEW" || $ctrl.config.type==="SENT" || $ctrl.config.type==="SEND" ? 'COMPOSEMAIL_SENDBTN' : 'COMPOSEMAIL_REPLY' | translate }}</button>
         <button type="button" class="btn btn-default no-btn" ng-click="$ctrl.cancel()">{{'COMPOSEMAIL_CANCEL'| translate}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>   </form>
  