 <!--- messages accordian Start-->

    <div class="grid simple mail-msg">
      <div class="grid-title no-border">
        <h4 class="bold">Mail</h4>
      </div>
      <div class="grid-body no-border pro-bord">  
          <div class="panel-group" >
    
  
           <div class="list-group"> 
                    <a data-toggle="modal" ng-click="$ctrl.composemail()"  class="list-group-item panel-compose ">Compose Mail</a>
                    <a  ng-class="$ctrl.viewType==='INBOX' ? 'active-list' : ''" class="list-group-item disabled ">Inbox<span class="badge">12</span></a>
                    <a  ng-class="$ctrl.viewType==='SENT' ? 'active-list' : ''" class="list-group-item">Sent Mail <span class="badge">12</span></a>
                      </div>
            



</div>
      </div> 
    </div>