<ul class="breadcrumb">
  <li>
    <p>MAIL</p>
  </li>
  <li><a href="#" class="active">Inbox</a> </li>
</ul>
        
    
                          <!--- messages accordian Start-->

    <div class="grid simple mail-msg">
      <div class="grid-title no-border">
        <h4 class="bold">Mail</h4>
      </div>
      <div class="grid-body no-border pro-bord">  
          <div class="panel-group" >
    
           
           <div class="list-group"> 
                    <a data-toggle="modal" ng-click="$ctrl.composemail()"  class="list-group-item panel-compose ">Compose Mail</a>
                    <a href="inbox.html" class="list-group-item disabled active-list">Inbox<span class="badge">12</span></a>
                    <a href="sent.html" class="list-group-item">Sent Mail <span class="badge">12</span></a>
                    <a href="block.html" class="list-group-item">Blcok <span class="badge">12</span></a>
                    <a href="reportabuse.html" class="list-group-item">Report Abuse <span class="badge">12</span></a>
                    <a href="cancelled.html" class="list-group-item">Cancelled<span class="badge">12</span></a>
                      <a href="trash.html" class="list-group-item">Trash<span class="badge">12</span></a>
                  </div>
            



</div>
      </div> 
    </div>