<div class="grid simple">
  <div class="grid-body no-border email-body">
    <br>
    <div class="row-fluid">
      <div class="row-fluid dataTables_wrapper">
        <div class="col-lg-6 no-padding  ">
          <div class="pull-left">
            <div class="checkbox check-success" ng-if="$ctrl.messages.length>0">
              <label style="font-size: 1.2em; line-height: 13px;">
                <input type="checkbox" value="" ng-model="$ctrl.selectedAll" ng-click="$ctrl.checkAll()">
                <span class="cr">
                  <i class="cr-icon fa fa-check"></i>
                </span>
                <span style="font-size: 12px;"> All
                </span>
              </label>
              <ul class="pull-right del-link">
                <li>
                  <button ng-if="$ctrl.messageIds.length>0 && $ctrl.viewType==='SENT'" class="pic-accept" type="button" ng-click="$ctrl.delete('DELETEFOREVRYONE')">Delete for everyone </button>
                </li>
                <li>
                  <button ng-if="$ctrl.messageIds.length>0 && $ctrl.viewType==='SENT'" class="pic-accept" type="button" ng-click="$ctrl.delete('DELETEFORME')">Delete for me </button>

                </li>
                <li>
                  <button ng-if="$ctrl.messageIds.length>0 && $ctrl.viewType==='INBOX'" class="pic-accept" type="button" ng-click="$ctrl.delete('DELETE')">Delete </button>

                </li>
                <li>
                  <button ng-if="$ctrl.messageIds.length>0 && $ctrl.viewType==='INBOX'" class="pic-accept" type="button" ng-click="$ctrl.markRead('MARKASREAD')">Mark As Read </button>

                </li>

              </ul>

            </div>
            <!--<div class="checkbox check-success pull-left top-link-all">
                      <input id="checkbox72" type="checkbox" value="1" class="p-l-20" >
                      <label for="checkbox72"> All</label>
                      <ul class="pull-right del-link">
                         <li>
                            <a href="#">
                               Empty
                         </li>
                      </ul>
                   </div>-->

          </div>
        </div>
        <div class="col-lg-6">
          <div class="dataTables_paginate paging_bootstrap pagination pull-right" ng-if="$ctrl.messages.length>0">
            <ul>
              <li class="pull-left">
                <div class=" hidden-xs">Showing
                  <b>{{$ctrl.start}} to {{$ctrl.end}}</b> of {{$ctrl.total}} entries</div>
              </li>
              <li class="prev disabled" style="margin-top: -2px;">
                <ul uib-pagination total-items="$ctrl.total" max-size="$ctrl.maxSize" num-pages="$ctrl.pages" ng-model="$ctrl.page" items-per-page="$ctrl.limit"
                  class="pagination-sm" boundary-link-numbers="true" ng-change="$ctrl.pageChanged()" rotate="true">
                </ul>
                <!--previous-text="&#10094;"
              next-text="&#10095;"-->
              </li>
            </ul>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="inbox-mail" ng-scrollbars ng-scrollbars-config="$ctrl.configScollBar">
            <noinformation type="MSG_{{$ctrl.viewType}}" ng-if="$ctrl.messages.length===0"></noinformation>
          <ul>
            <li class="row-fluid userlist"  ng-repeat="msg in $ctrl.messages" ng-class="{'unread' : msg.message_status==='UNREAD' ,'msgselected':msg.Selected}">

              <div class="col-lg-2 no-padding pull-left" >
                <div class="checkbox check-success pull-left">
                  <label>
                    <input type="checkbox" ng-click="msg.Sleceted=!msg.Sleceted;$ctrl.checkBoxSelect()" value="" ng-model="msg.Selected">
                    <span class="cr">
                      <i class="cr-icon fa fa-check"></i>
                    </span>
                  </label>
                </div>

                <user-img user="msg.user" is-noti="WITHID"></user-img>
              </div>
              <div class="col-lg-10 hand" ng-click="$ctrl.viewMessage({type:$ctrl.viewType,msg:msg.message,user_id:msg.user.user_id},msg._id);$ctrl.viewType==='INBOX'? msg.message_status='READ':''">
                <p class="pull-right"> Sent On :  <date-parse date="msg.date"></date-parse>
                  <!-- <span> {{msg.send_on | date:'dd-MMM-yyyy'}} </span> |
                  <span> {{msg.send_on | date:'h:mm a'}}</span> -->
                </p>
                <p class="clearfix"></p>
                <p class="mailer-name"> {{msg.user.first_name}}</p>
                <p class="mailer-sub">
                  <span >
                    {{msg.user.age}} Years. {{ msg.user.height | height }}, {{msg.user.first_name}}, {{msg.user.last_name}}.
                  </span>
                  <strong ng-if="$ctrl.viewType==='SENT'">
                   You have sent message
                  </strong>
                  <strong ng-if="$ctrl.viewType==='INBOX'">
                    Has sent you a Meassage
                   </strong>
                </p>
                <div class="clearfix"></div>
               </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
