<div>
    <div class="modal-header">
        <a href="#" data-dismiss="modal" ng-click="$ctrl.no()" aria-hidden="true" class="close">×</a>
         <h3>Delete</h3>
    </div>
    <div class="modal-body">
       
        <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
        <button type="button "  class="btn btn-primary yes-btn" ng-click="$ctrl.yes()">Yes</button>
        <button type="button" class="btn btn-default no-btn" ng-click="$ctrl.no()">No</button>
       </div>
</div>