                       <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" ng-click="ctrl.cancel()" >×</button>
                        
                        </div>
                        <div class="modal-body ">
                   <div class="row-fluid">

                     <div class="col-lg-12 text-center">
                       
                       <a href="index.html"> <img src="assets/img/login-logo.png" width="250" height="75" />  </a>
                     </div>
                     <div class="clearfix"></div>
                    
                     <div class="clearfix"></div>
                     <p>Enter Your  5 digits OTP number</p>
                     <div> <input 
                     name="otpinput"
                     type="number" 
                     placeholder="Enter OTP number" 
                     ng-model="form.otp"
                     validate-on="dirty"
                     required-message="ctrl.required('REQUIRED')"
                     required
                     ></div>
                     
                  <p class="validationMessage" ng-if="ctrl.invalidOtp">{{'INVALIDOTP_MSG' | translate}}</p>
                 
<div class="clearfix"></div>
                                    

                   </div>
                        </div>
                        <div class="modal-footer" style="margin-top: 0;">
                                  <div class="row-fluid">
                      <div class="col-lg-12 no-padding">
                        <div> <button type="button" ng-disabled="!form.otp && (form.otp.length>5 || form.otp.length<5)" class="button  raised hoverable forget-p" ng-click="ctrl.veryFyOtp(form.otp)"><div class="anim"></div><span> 
 Submit</span></button></div>
                      </div>
                     
                       
                    
                     </div> 
                     <div class="clearfix"></div>
                   
                        </div>
                      </div>
                      <!-- /.modal-content -->
                  
