
    <div class="modal-content">
        <form name="otpForm" autocomplete="off" angular-validator-submit="ctrl.sendOTP()" novalidate angular-validator>
      <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
  
      </div>
      <div class="modal-body ">
        <div class="row-fluid">
  
          <div class="col-lg-12 text-center">
  
            <a>
              <img src="assets/img/login-logo.png" width="250" height="75" /> </a>
          </div>
          <div class="clearfix"></div>
          <div ng-show="ctrl.isPhone">
            <p>{{'CONTINUEBTN_EMAILVERPOP'| translate}}</p>
            <div class="col-md-12 phoneNumber">
              <div class="contry-code" style=" width: 100px;">
             <select class="select-btn minimal"  ng-model="ctrl.user.country_code" name="country_code" required-message="ctrl.required('REQUIRED')"
                          validate-on="dirty" ng-required="ctrl.isPhone">
           <option ng-repeat="(key, value) in ctrl.countryCodes" value="{{ value }}">{{key}}({{ value }})</option>
        </select>
              </div>
              <div style=" width: 192px;padding-left: 7px; ">
                    <input style=" height: 40px;" class="input-btn form-control" type="text" name="phone_number" placeholder="999 999 9999" ng-model="ctrl.user.phone_number"
                          validator="ctrl.phoneValidator(ctrl.user.phone_number) === true" invalid-message="ctrl.phoneValidator(ctrl.user.phone_number)"
                          required-message="ctrl.required('REQUIRED')" validate-on="dirty" append-message=".phoneNumber"
                          ng-required="ctrl.isPhone"/>
              </div>
        </div>
  
  
          </div>
          <div ng-if="ctrl.isEnterOtp">
            <p>{{'PHONEVERPOP_HEADING'| translate}}</p>
            <div>
              <input name="otpinput" type="number" placeholder="Enter OTP number" ng-model="ctrl.otpnumber" validate-on="dirty" required-message="ctrl.required('REQUIRED')"
              ng-required="ctrl.isEnterOtp" >
            </div>
  
            <p class="validationMessage" ng-if="ctrl.invalidOtp">{{'INVALIDOTP_MSG' | translate}}</p>
          </div>
          <div class="clearfix"></div>
  
  
        </div>
      </div>
      <div class="modal-footer" style="margin-top: 0;">
        <div class="row-fluid">
          <div class="col-lg-12 no-padding">
            <div>
              <button type="submit" ng-if="!ctrl.isEnterOtp" ng-disabled="otpForm.$invalid" class="button  raised hoverable forget-p">
                <div class="anim"></div>
                <span>
                  {{'CONTINUEBTN_PHONEVERPOP'| translate}}</span>
              </button>
              <button type="button" ng-if="ctrl.isEnterOtp" ng-disabled="!ctrl.otpnumber && (ctrl.otpnumber.length>6 || ctrl.otpnumber.length<6)"
                class="button  raised hoverable forget-p" ng-click="ctrl.veryFyOtp(ctrl.otpnumber)">
                <div class="anim"></div>
                <span>
                  {{'SUBMITBTN_PHONEVERPOP'| translate}}</span>
              </button>
            </div>
          </div>
  
  
  
        </div>
        <div class="clearfix"></div>
  
      </div>
    </form>
    </div>
 
  <!-- /.modal-content -->