<div class=" col-lg-5 p-r-0" ng-if="$ctrl.config.send_msg  && !$ctrl.is_user_by_block"><a class="btn match-btn" ng-click="$ctrl.checkBlock('MSG')"> 
    <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
Send Message </a>
  </div>
  <div class=" col-lg-5 p-r-0" ng-if="$ctrl.config.alreadysent"><a disabled class="btn match-btn btn-success" > 
    <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
Request sent</a>
  </div>
  <div class=" col-lg-5 p-r-0" ng-if="$ctrl.config.decline"><a disabled class="btn match-btn btn-danger" > 
    <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
   Request declined </a>
  </div>
  <div class=" col-lg-5 p-r-0" ng-if="$ctrl.config.send_request && !$ctrl.is_user_by_block"><a class="btn match-btn" ng-click="$ctrl.checkBlock('REQ')"> 
    <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
   Send Request </a>
  </div>