<div class="grid simple profile-detail photo-details " >
    

        <div class="prof-title no-border">
          <div class="pull-left">
    
              <p class="profile-text">   {{$ctrl.user.first_name}} {{$ctrl.user.last_name}}  <span> ({{$ctrl.user.user_id}})</span> </p> 
      
          </div>
          <div class="pull-right">
            <div class="add-like">
                  <ul class="">
               <li class="ng-hide"> 
  
                <a href="#" class="tip" data-toggle="tooltip" title="Add To Compare"> <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> </a> </li>
               <li class="ng-hide"> 
  
                <a href="#" class="tip" data-toggle="tooltip" title="Wish List"> <i class="fa fa-heart fa-lg" aria-hidden="true"></i> </a> </li>
               
                <li> 
  
                <a href="#" class="tip" data-toggle="tooltip" title="Viewed Profile"> <i ng-class="{'fa fa-eye-slash fa-lg':!$ctrl.user.is_viewed_profile,'fa fa-eye fa-lg':$ctrl.user.is_viewed_profile}" aria-hidden="true"></i> </a> </li>
                 <li> 
  
                <a href="#" class="tip" data-toggle="tooltip" title="Online"> <i ng-style="{ 'color' : ($ctrl.user.online == 'Y') ? '#0abd20' : 'gray' }" class="fa fa-circle fa-lg" aria-hidden="true"></i> </a> </li>

            
              </ul>
            </div>
          </div>
        </div>
              <div class="grid-body  p-match-body no-border">
            <div class="row" >
            <div>
              <div class="col-lg-4 col-md-4 col-md-4 col-md-4  no-padding full-p">
                
                 <user-img is-noti="BIGPHOTO" user="$ctrl.user" ng-click="$ctrl.goToFullProfile($ctrl.user.user_id)"></user-img>
                
                 <div class="req-pic" >  
                   <p class="req-text"> 
                   <photo-button user="$ctrl.user"></photo-button>
                  </p> 
                 </div>
              </div>
              <div class="col-lg-8">
                <div class="row"> 
              <div class="col-lg-6 col-lg-6 col-lg-6 col-lg-6 p-r-0">
                <ul class="list-group">
                  <li class="list-group-item">
                      <div class="bmd-list-group-col">
                        <p class="list-group-item-left pull-left">Age</p>
                       
                        <p class="list-group-item-right pull-right">{{$ctrl.user.age}} Yrs</p>
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">Height</p>
                       
                        <p class="list-group-item-right pull-right">{{$ctrl.user.height | height}}</p>
                      
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">Marital Status</p>
                       
                        <p class="list-group-item-right pull-right" ng-repeat="mt in $ctrl.formdata.MaritialStatus | where:{value: $ctrl.user.maritialstatus}">{{mt.name}}</p>
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">Mother Tongue</p>
                        <p class="list-group-item-right pull-right" ng-repeat="edu in $ctrl.formdata.mother_tongues | where:{value:$ctrl.user.mothertounge}">{{edu.name}}</p>
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">Religion </p>
                       
                        <p class="list-group-item-right pull-right" ng-repeat="rl in $ctrl.formdata.religions | where:{value:$ctrl.user.religion}">{{rl.name}}</p>
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">Caste </p>
                        <p ng-init="$ctrl.loadCaste($ctrl.user.religion)"></p>
                        <p class="list-group-item-right pull-right" ng-repeat="cs in $ctrl.casteData | where:{value:$ctrl.user.caste}">{{cs.name}}</p>
                        <p class="clearfix"></p>
                       
                      </div>
                  </li>
                </ul> 
              </div>
              <div class="col-lg-6 col-lg-6 col-lg-6 col-lg-6  p-r-0">
                <ul class="list-group">
                  <li class="list-group-item">
                      <div class="bmd-list-group-col">


                        

                     
                        <p class="list-group-item-left pull-left">Country Living </p>
                       
                        <p class="list-group-item-right pull-right">{{$ctrl.user.location_name.country}}</p>
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">State Living</p>
                       
                        <p class="list-group-item-right pull-right">{{$ctrl.user.location_name.state}}</p>
                        <p class="clearfix"></p>
                        
                        <p class="list-group-item-left pull-left">City Living In</p>
                       
                        <p class="list-group-item-right pull-right">{{$ctrl.user.location_name.city}}</p>
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">Physical Status </p>
                        <p class="list-group-item-right pull-right" ng-repeat="ph in $ctrl.formdata.PhysicalStatus | where:{value:$ctrl.user.physical_status}">{{ph.name}}</p>
                        <p class="clearfix"></p>
                        <p class="list-group-item-left pull-left">Occupation </p>
                        <p class="list-group-item-right pull-right" ng-repeat="oc in $ctrl.formdata.occupations | where:{value:$ctrl.user.occupation}">{{oc.name}}</p>
                     
                      </div>
                  </li>
                </ul>

              </div>

              

            </div>

            <div class="row"> 
              <message-button user="$ctrl.user"></message-button>
             <contact-button user="$ctrl.user"></contact-button>
            </div>

            <div class="req-pic">
              <div class="row">
                <div class="col-lg-4 no-padding"> </div>
                <div class="col-lg-4 no-padding "><like-button user="$ctrl.user"></like-button></div>
                <div class="col-lg-4 no-padding" > <p class="posted-m"> Posted By :  <span ng-repeat="crt in $ctrl.formdata.created_by | where:{value:$ctrl.user.created_by}"> {{crt.name}} </span> </p></div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>