<section id="addPatient" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 form-content form-horizontal">
            <h1>Prescribe Exercise</h1>
            <form name="exerciseForm" novalidate>
                <fieldset>

                    <div>
                    <div class="form-group col-xs-12">
                        <input autofocus class="form-control" ng-model="ctrl.exercise.url" id="exerciseUrl" type="text"
                               name="exerciseUrl"
                               placeholder="Exercise URL"/>
                        <label for="exerciseUrl">Exercise URL: </label>
                        <iframe
                                width="600" height="345" src="https://www.youtube.com/embed/SEcVfBRGFxI">
                        </iframe>
                    </div>
                    <div class="form-group col-xs-12">
                        <input class="form-control" mask="39/19/9999" ng-model="ctrl.exercise.startDate"
                               id="startDate" type="text" name="startDate"
                               placeholder="Start Date"/>
                        <label for="startDate">Start Date</label>
                    </div>

                    <div class="form-group col-xs-12">
                        <select class="form-control" ng-model="ctrl.exercise.frequency"
                                ng-options="frequencyOption for frequencyOption in ctrl.frequencyOptions"
                        id="frequency">
                        </select>
                        <label for="frequency">Dosage</label>
                    </div>
                    <div class="form-group col-xs-12">

                        <label for="status" class="input-checkbox">
                            <input type="checkbox" ng-model="ctrl.exercise.status"
                                   ng-true-value="'Active'" ng-false-value="'InActive'" id="status">
                            Status</label>
                    </div>


                    </div>

                    <div class="actions row">
                        <div class="form-group col-xs-12">
                            <a class="btn btn-default btn-block" type="button" value="Update"
                               ng-click="ctrl.updateExercise()">Update</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>