<div class="notification-messages info">
      
            <user-img user="toaster.data.user" is-noti="NOID"></user-img>
           
            <div class="message-wrapper">
              <div class="heading">
                {{toaster.data.user.first_name}} ({{toaster.data.user.user_id}})
              </div>
              <span ng-if="toaster.data.type==='MSG'">Has sent you a message</span>
              <notification-text ng-if="toaster.data.type==='NOTI'" notification="toaster.data" section="'NOTI'" who-sent="toaster.data.whosent"></notification-text>
              <div class="date pull-left">
        
                <date-parse date="toaster.data.date"></date-parse>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
