
<ul class="nav quick-section">
                <li class="m-r-10 input-prepend inside search-form no-boarder ng-hide">
                <input name="" type="text"  class="no-boarder " placeholder="{{ 'SEARCH_BY_PROFILE_ID' | translate }}" style="width:153px;">
                    <button type="submit" class="btn-s"><i class="glyphicon glyphicon-search"></i></button>
                    </li>
            

            <li class="">
          <a class="hand" ng-click="hdnm.isOpenMsgBox()" popover-placement="{{'auto ' + hdnm.notifn.position}}" popover-enable="hdnm.isOpenMsg" popover-is-open="hdnm.isOpenMsg" popover-class="msgPopover" popover-trigger="'outsideClick'" popover-animation="true" uib-popover-template="hdnm.notifn.msgUrl" >
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="badge badge-notify" ng-if="hdnm.messages.total>0">{{hdnm.messages.total}}</span>
            </a>
            
        </li>   
          <li class="">
          <a class="hand" ng-click="hdnm.isOpenNotiBox()" popover-enable="hdnm.isOpenNoti" popover-is-open="hdnm.isOpenNoti"  popover-placement="{{hdnm.notifn.position}}" popover-class="notiPopover" popover-trigger="'outsideClick'" popover-animation="true" uib-popover-template="hdnm.notifn.notiUrl" >
                 <span class=" fa fa-bell"></span> 
                 <span class="badge badge-notify" ng-if="hdnm.notifications.total>0">{{hdnm.notifications.total}}</span>
                </a> 
                
        </li> 
        <li class="dropdown prof-setg">
         
                    <a  href="#" id="user-options" popover-placement="{{hdnm.notifn.proPos}}" popover-class="proPopover" popover-trigger="'outsideClick'" popover-animation="true" uib-popover-template="hdnm.notifn.proUrl">
                       <img water-mark="hdnm.pic" ng-if="login_user_role!=='ADMIN'" width="35" height="35" />
                       <img ng-if="login_user_role==='ADMIN'" src="assets/img/admin.png" width="35" height="35" />
                       <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                 
                </li>
              </ul>
              <audio style="display: none;" pk-audio="hdnm.sounds.sound" controls="" src="assets/sound/1.mp3"></audio>
              <style>
              .badge-notify{
                top: -13px;
    left: -7px;
              }
              
              </style>
             