<div class="note-top ">
  <div class="pull-left notifics">Messages</div>

  <div class="pull-right markas-rd">
    <a class="hand" ng-click="hdnm.viewall('MSG')"> View All </a>
  </div>


</div>
<div ng-scrollbars ng-scrollbars-config="hdnm.configScollBar" class="animated flip">
  <div class="notification-messages info" ng-repeat="msg in hdnm.messages.docs"  ng-click="hdnm.viewMessage({type:'INBOX',msg:msg.message,user_id:msg.user.user_id},msg._id)">

    <user-img user="msg.user" is-noti="true"></user-img>
   
    <div class="message-wrapper">
      <div class="heading">
        {{msg.user.first_name}} ({{msg.user.user_id}})
      </div>
     <span>Has sent you a message</span>
      <div class="date pull-left">

        <date-parse date="msg.date"></date-parse>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>




</div>
<style>
  .notification-messages {
    width: 265px;
  }
</style>