<div class="note-top ">
  <div class="pull-left notifics">Notifications</div>

  <div class="pull-right markas-rd">
    <a class="hand" ng-click="hdnm.viewall('NOTI')"> View All </a>
  </div>


</div>
<div ng-scrollbars ng-scrollbars-config="hdnm.configScollBar" class="animated flip">
  <div class="notification-messages info" ng-repeat="user in hdnm.notifications.docs"  ng-click="hdnm.openReq(user)">

    <user-img user="user.user" is-noti="NOID"></user-img>
   
    <div class="message-wrapper">
      <div class="heading">
        {{user.user.first_name}} ({{user.user.user_id}})
      </div>
     <notification-text notification="user" section="'NOTI'" who-sent="user.whosent"></notification-text>
      <div class="date pull-left">

        <date-parse date="user.date"></date-parse>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>




</div>
<style>
  .notification-messages {
    width: 265px;
  }
</style>