<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

  <div class="clearfix"></div>
  <div class="content">



    <div class="row">

      <!------------------------ Left Strat -------------------------->
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-4 p-r-0">
       
         



      </div>
      <!------------------------------------------------ profile End ------------------------------------------------>
      <!------------------------------------------------ you maylike Strat ------------------------------------------------>
      <div class="col-md-9 col-lg-9 col-xs-12 col-sm-8 ">
        
           <h3 class="mail-head">Notifications</h3>
      <div class="row"  id="inbox-wrapper">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-body no-border email-body">
                    <br>
                    <div class="row-fluid">
                        <div class="row-fluid dataTables_wrapper">
                      
                            <div class="col-lg-6">
                                <div class="dataTables_paginate paging_bootstrap pagination pull-right" ng-if="$ctrl.notificatins.length>0">
                                    <ul>
                                        <li class="pull-left">
                                            <div class=" hidden-xs">Showing
                                                <b>{{$ctrl.start}} to {{$ctrl.end}}</b> of {{$ctrl.total}} entries</div>
                                        </li>
                                        <li class="prev disabled" style="margin-top: -2px;">
                                            <ul uib-pagination total-items="$ctrl.total" max-size="$ctrl.maxSize" num-pages="$ctrl.pages" ng-model="$ctrl.page" items-per-page="$ctrl.limit"
                                                class="pagination-sm" boundary-link-numbers="true" ng-change="$ctrl.pageChanged()" rotate="true">
                                            </ul>
                                            <!--previous-text="&#10094;"
                            next-text="&#10095;"-->
                                        </li>
                                    </ul>
            
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="inbox-mail" ng-scrollbars ng-scrollbars-config="$ctrl.configScollBar">
                                <p class="noinforav" ng-if="$ctrl.notificatins.length===0">No information available </p>
                                <ul>
                                    <li class="row-fluid userlist" ng-repeat="noti in $ctrl.notificatins" ng-click="$ctrl.openReq(noti)" ng-class="{'unread' : noti.request_status==='UNREAD' ,'reqselected':noti.Selected}">
            
                                        <div class="col-lg-2 no-padding pull-left">
                                          
                                           <user-img user="noti.user" is-noti="false"></user-img>
                                        </div>
                                   <div class="col-lg-10 hand">
                                            <p class="pull-right">
                                                <!-- {{$ctrl.viewType==='SENT' ? 'Sent On : ' : ''}} {{$ctrl.viewType==='REJECTED' ? 'Rejected On : ' : ''}} {{$ctrl.viewType==='ACCEPTED'
                                                ? 'Accepted On : ' : ''}} {{$ctrl.viewType==='PENDING' ? 'Request On : ' : ''}}
                                                {{$ctrl.viewType==='RECEIVED' ? 'Request On : ' : ''}}
                                                -->
                                                <date-parse date="noti.date"></date-parse>
                                            </p>
                                            <p class="clearfix"></p>
                                            <p class="mailer-name"> {{noti.user.first_name}}</p>
                                            <p class="mailer-sub">
                                                <span>
                                                    {{noti.user.age}} Years. {{noti.user.height}} ft, {{noti.user.first_name}}, {{req.user.last_name}}.
                                                </span>
                                                <notification-text section="'NOTI'" notification="noti" who-sent="noti.whosent"></notification-text>
                                                <span class="pull-right">
                                                 
                                                <!-- <noti-action data="noti" who-sent="noti.whosent"></noti-action>    -->
                                                </span>
                                                <p class="pull-right" ng-if="noti.whosent==='FROM' && noti.request_action"> Status: <span>{{noti.request_action}} </span>  </p>
                                                
                                            </p>
                                            <div class="clearfix"></div>
                                        </div>
            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .noinforav {
                    margin: 210px 300px;
                }
            
                .unread {
                    background-color: #fff !important;
                    border: 1px solid #ddd;
                }
            
                .reqselected {
                    background-color: #cffbfb !important
                }
            </style>
      

        </div>

        <!---------------------------------------------Center  End ------------------------------------------>

        <!---------------------------------------------Calender Veiw start ---------------------------------->
       
      </div>
    </div>
  </div>
</div>