<section id="addPatient" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h1>Patient Questionnaire</h1>
            <form name="addPatient" novalidate>
                <fieldset>
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" is-open="patientQuestionnaire.open"
                             ng-repeat="patientQuestionnaire in ctrl.patientQuestionnaires">
                            <uib-accordion-heading>
                                {{patientQuestionnaire.heading}} <i class="pull-right fa"
                                                                    ng-class="{'fa-caret-down': patientQuestionnaire.open, 'fa-caret-right': !patientQuestionnaire.open}"></i>
                            </uib-accordion-heading>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    {{patientQuestionnaire.question}}
                                </div>
                                <div class="col-xs-6">
                                    <div ng-switch="patientQuestionnaire.answer.type">
                                        <div ng-switch-when="radio" class="pull-right">
                                            <!--<div ng-repeat="option in patientQuestionnaire.answer.options">
                                                <input type="radio" name="radio" ng-model="patientQuestionnaire.answer.selectedValue" ng-value="option.value"/>
                                                {{option.label}}
                                            </div>-->
                                            <switch id="enabled" name="enabled"
                                                    ng-model="patientQuestionnaire.answer.selectedValue"
                                                    on="Yes" off="No" class="green"></switch>
                                        </div>
                                        <div ng-switch-when="number"><input type="number" class="form-control"
                                                                            ng-model="patientQuestionnaire.answer.selectedValue">
                                        </div>
                                        <div ng-switch-when="textbox"><input type="text" class="form-control"
                                                                             ng-model="patientQuestionnaire.answer.selectedValue">
                                        </div>
                                        <div ng-switch-default><textarea class="form-control"
                                                                         ng-model="patientQuestionnaire.answer.selectedValue"
                                                                         id="textArea"></textarea></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </uib-accordion>
                    <div class="actions row">
                        <a class="btn btn-link" ui-sref="root.patient" type="button"
                           value="Next"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                            Back to Dashboard</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>