<div ng-switch="patientQuestionnaire.answer.type">
    <div ng-switch-when="radio">
        <div ng-repeat="option in patientQuestionnaire.answer.options">
        <input type="radio" ng-model="patientQuestionnaire.answer.selectedValue" value="option.value">
        {{option.label}}
        </div>
    </div>
    <div ng-switch-when="textbox"><input type="text" ng-model="patientQuestionnaire.answer.selectedValue"></div>/div>
    <div ng-switch-default><textarea ng-model="" id="textArea"></textarea></div>
</div>