<form name="reasonForm" novalidate novalidate>
    <div class="modal-content">
   <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
   </div>
   <div class="modal-body ">
      <div class="row-fluid">
         <div class="col-lg-12 text-center">
            <a href="index.html"> <img src="assets/img/login-logo.png" width="64" height="64" />  </a>
         </div>
 
           <p class="required">Reason Type</p>
                    <div>
                        <select class="form-control" name="reasonType" ng-model="form.reasonType" required>
                            <option value="" disabled >Select reason</option>
                             <option ng-repeat="reason in ctrl.reasons" value="{{reason.value}}" >{{reason.name}}</option>
                        </select>
                    </div>
                     
         <p class="required">Reason</p>
                     <div> 
                         <textarea class="form-control" ng-model="form.reason" rows="5" required></textarea>
                     
                     </div>
      </div>
   </div>
   <div class="modal-footer" style="margin-top: 0;">
      <div class="row-fluid">
         <div class="col-lg-12 no-padding">
          
           
            <div>
               <button type="button"  ng-disabled="reasonForm.$invalid"  class="button  raised hoverable forget-p" ng-click="ctrl.submit(form)">
                  <div class="anim"></div>
                  <span> 
                  Submit</span>
               </button>
            </div>
         </div>
        
          <div class="clearfix"></div>
         <div class="col-lg-12 no-padding">
            <div>
               <button type="button" ng-click="ctrl.cancel()" class="button  raised hoverable skipbtn ">
                  <div class="anim"></div>
                  <span> 
                  Skip</span>
               </button>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>
</form>