<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()" aria-hidden="true">×</button>
        <div class="row">
            <div class="col-lg-12 profile-img customModalTitle">
                <h4 class="pop-h4"> Upload Profile Photo</h4>
            </div>
        </div>
    </div>
    <!--profile-image -->
    <div class="modal-body ">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"> 
               
<button  ng-model="ctrl.myImage"
                  
                  id="fileInput"
                  ngf-select 
                  name="userimage" 
                  ngf-pattern="'image/*'"
                  accept="image/*" 
                  ngf-max-size="5MB" >
            Select Picture</button>

          </li>
             <li class="list-group-item cursorpointer ng-hide"  ng-click="ctrl.openCamera()">
                  <a href="#"  >
      <span class="glyphicon glyphicon-camera"></span> {{ctrl.clicked ? "Close Camera" : "Open Camera"}}
    </a> 
                  </li>
        </ul>
        <ul class="list-group list-group-horizontal" >
             <li class="list-group-item cursorpointer" ng-if="ctrl.clicked" ng-click="ctrl.makeSnapshot()"> 
               <a href="#"  >
      <span class="glyphicon glyphicon-picture"></span> Take Picture
    </a>
          </li>
          <div ng-init="ctrl.cropType='circle'"></div>
            <li class="list-group-item cursorpointer" ng-if="ctrl.myImage" ng-class="ctrl.cropType==='circle' ? 'active':''" ng-click="ctrl.cropType='circle'"> 
               <a href="#" class="">
      <span class="glyphicon glyphicon-record"></span> 
    </a>
          </li>
             <li class="list-group-item cursorpointer" ng-if="ctrl.myImage" ng-class="ctrl.cropType==='square' ? 'active':''" ng-click="ctrl.cropType='square'">
                  <a href="#" class="">
      <span class="glyphicon glyphicon-retweet"></span> 
    </a>
                  </li>
                  <li class="list-group-item cursorpointer" style="border:none;" ng-if="ctrl.myImage" >
                 <switch id="enabled" name="enabled" ng-model="ctrl.photo_visibility_status" on="Public" off="Private" class="green wide pripubsw"></switch>
                 </li>
        </ul>

         
  <div ngf-drop ng-model="ctrl.myImage" ngf-pattern="image/*"
             class="cropArea">
      <!--{{ctrl.myImage }}-->
       <div class="alert alert-error ng-scope" ng-show="ctrl.webcamError && !ctrl.clicked" style="">
<span>Webcam could not be started. Did you give access to it?</span>
</div>
      <webcam  ng-if="ctrl.clicked"
        channel="ctrl.channel" 
        on-streaming="ctrl.onSuccess()" 
        on-error="ctrl.onError(err)" 
        on-stream="ctrl.onStream(stream)"></webcam>
    <img-crop 
    area-type="{{ctrl.cropType}}"
    ng-if="ctrl.myImage"
    image="ctrl.myImage | ngfDataUrl" 
    result-image="ctrl.myCroppedImage"
   
    ></img-crop>
  </div>
<canvas id="snapshot" style="display:none" width="300" height="300"></canvas>
  <div ng-if="ctrl.myCroppedImage">Preview :</div>

  <div ng-if="ctrl.myCroppedImage"  style="text-align: center;"><img ng-class="ctrl.cropType==='circle'?'cropCircle':'cropSquare'"  ng-src="{{ctrl.myCroppedImage}}" /></div>
    
    </div>
        <div class="modal-footer" >
            <button type="button" ng-disabled="!ctrl.myCroppedImage" ng-click="ctrl.savePhoto(ctrl.myCroppedImage,ctrl.myImage.name)"  class="button raised hoverable next-step" data-dismiss="modal">
                <div class="anim"></div>
                <span>Save & Continue!</span>
            </button>
            <button type="button"  ng-click="ctrl.skip()"  class="button raised hoverable skipbtn" data-dismiss="modal">
                <div class="anim"></div>
                <span>Skip & Continue!</span>
            </button>
        </div>
    </div>
</div>