<section id="addPatient" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 form-content">
            <h1>Add New Patient</h1>
            <form name="addPatient" novalidate>
                <fieldset>
                    <p class="form-text text-muted">
                        Please enter either Email or Phone to add new Patients.
                    </p>
                    <div ng-repeat="patient in ctrl.newPatients track by $index" class="row">
                        <div class="form-group col-xs-6"
                             ng-class="{'has-error' : addPatient.password.$dirty && !addPatient.password.$valid}">
                            <input class="form-control" id="email{{$index}}" name="email{{$index}}" autocomplete="off"
                                   ng-pattern="/^[A-Za-z0-9-_]+(\.[A-Za-z0-9-_]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)+$/"
                                   autocomplete="off" required placeholder="Email Address" ng-model="patient.email"/>
                            <label for="email{{$index}}">Email Address</label>
                            <span class="error-msg">Please enter a valid email address.</span>
                        </div>
                        <div class="form-group col-xs-5">
                            <input id="phone{{$index}}" class="form-control" type="text"
                                   name="phone{{$index}}" mask="(999)-999-9999"
                                   ng-model="patient.phone" placeholder="Phone Number"/>
                            <label for="phone{{$index}}">Phone Number</label>
                        </div>
                        <div class="form-group col-xs-1" ng-if="ctrl.newPatients.length-1">
                            <a href="javascript: void(0);" class="remove-patient" ng-click="ctrl.removePatient(patient)">
                                <i class="fa fa-minus-square" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <a href="javascript: void(0);" class="btn btn-link" ng-click="ctrl.createNewPatient()">
                            <i class="fa fa-plus-square" aria-hidden="true"></i> Add Patient
                        </a>
                    </div>
                    <div class="actions row">
                        <div class="col-xs-6">
                            <a class="btn btn-link" type="button" value="Next"
                               href="javascript: window.history.back();"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to
                                Dashboard</a>
                        </div>
                        <div class="form-group col-xs-6">
                            <a class="btn btn-default btn-block" type="button" value="Next"
                               ui-sref="root.provider">Next</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>