
<footer class=" main-footer">

      <div class="p-t-50 p-b-50">
            
          

        <div class="content">        
  
                
        <div class="needhelp pop-div"> 

          <p> <span class="head-need">  {{'NEED_HELP_FOOTER_HEADING'| translate}} </span>  <a id="poplink" href="javascript:void(0);"> {{'CUSTOMERSUPPORT_CLICKHERE'| translate}}</a> {{'CUSTOMERSUPPORT_CLICKHERETEXT'| translate}} 
 </p>

 
    




    <div class="pop-title">{{'GET_CALL_NUMBER'| translate}}<span class="pull-right clickable" data-effect="slideUp"><i class="fa fa-times"></i></span></div>
    <div class="pop-content"> 
    <select class="country-c minimal">
      <option> + 91 </option>

    
    </select>
    <input class="country-cont" placeholder="Enter Number" type="text" />
    <input class="cotct-subt" type="button" value="submit"/>
    </div> 


        </div>

                
                
                <div class="row-fluid">
          
                    
                    

          
          <div class="col-md-3 col-lg-3 col-sm-3  col-xs-12 ">
          <div class="bold"> <h3>{{'NEED_HELP_FOOTER_HEADING'| translate}}</h3></div>
            <ul>
                          <li> <a href="help.html"> {{'HELP_FOOTER'| translate}}</a></li>
                          <li> <a href="login.html"> {{'LOGIN_FOOTER'| translate}}</a></li>
                          <li> <a href="register.html"> {{'REGISTER_FOOTER'| translate}}</a></li>
                          <li> <a href="search.html"> {{'SEARCH_FOOTER'| translate}}</a></li>
                          <li> <a href="#"> {{'HOW_TO_USE_DB_FOOTER'| translate}}</a></li>
                          <li> <a href="upgrade.html"> {{'MEMBERSHIP_PLANS_FOOTER'| translate}}</a></li>       
                        
                        </ul>
          </div> 
                    <div class="col-md-2 col-lg-2  col-sm-3  col-xs-12 ">
          <div class="bold"> <h3>{{'PRIVACY_FOOTER_HEADING'| translate}}</h3></div>
            <ul>
                         
<li> <a href="dholebaaje-tc.html"> {{'TERMS_FOOTER'| translate}}</a></li>
<li> <a href="#"> {{'FRAUDALERT_FOOTER'| translate}}</a></li>
<li> <a href="privacy-policy.html"> {{'PRIVACYPOLICY_FOOTER'| translate}}</a></li>
<li> <a href="#"> {{'THIRDPARTY_FOOTER'| translate}}</a></li>
                        
                        </ul>
          </div>    <div class="col-md-4 col-lg-4 col-sm-3  col-xs-12 ">
          <div class="bold"> <h3>{{'ABOUTUS'| translate}}</h3></div>
                       <p>  {{'ABOUTUS_TEXT'| translate}} 
                         </p>
                 
          </div>
      
                    <div class="col-md-3 col-lg-3 col-sm-3  col-xs-12 ">
          <div class="bold"> <h3>{{'DHOLBAAJE_SERVIES_FOOTER_HEADING'| translate}}</h3></div>
            <ul>
                        <li> <a href="catering.html"> {{'CATERING_FOOTER'| translate}} </a></li>
                  <li> <a href="function-hall.html"> {{'FUNCTIONHALLS_FOOTER'| translate}}</a></li>
                  <li> <a href="mahendi.html"> {{'MEHENDI_FOOTER'| translate}} </a></li>
                  <li> <a href="events.html">{{'EVENTS_FOOTER'| translate}}   </a></li>    
                   <li> <a href="photographer.html"> {{'PHOTOGRAPH'| translate}}</a></li>
                  <li> <a href="designerwear.html"> {{'DESIGNERWEAR_FOOTER'| translate}}</a></li>
                  <li> <a href="marrigebureau.html"> {{'MARRIAGEBUREAU_FOOTER'| translate}}  </a></li>   
            </ul>

          </div>
                    
          </div>          
                 
    <hr>
    <div class="clearfix"></div>
                <p>© 2018 - {{'COPYRIGHT_YNC_FOOTER'| translate}}</p>
      </div>
      </div>

</footer>