<header>
    <div class="container">
        <nav class="row">
            <a ui-sref="landing" class="col-xs-6">
                <img src="/images/logo.png" width="125"/>
            </a>
            <div class="col-xs-6 text-right">
                <ul class="list-inline">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);">
                            <span class="avatar img-thumbnail" aria-hidden="true" ng-if="false">
                                <span>{{ ctrl.user.firstName | limitTo: 1}}</span>
                                <span>{{ ctrl.user.lastName | limitTo: 1 }}</span>
                            </span>
                            <img src="/images/thumbnail_profile.jpg" class="img-thumbnail" width="56"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript: void(0);">Profile</a></li>
                            <li><a ui-sref="landing">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>