<div role="navigation" class="navbar navbar-default navbar-static-top reg-nav">
    <div class="header-seperation">
            
            
             
               <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                    <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>
                </ul>
           
             
                <a href="index.html"><img src="assets/img/logo.png" class="logo" alt=""  data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="" height=""/></a>
             
            
              <ul class="nav navbar-nav navbar-right help-menu" >
                <li > <a data-toggle="modal" data-target="#myModal" href="#" aria-hidden="true" class="" href="#"><i class="fa fa fa-user" aria-hidden="true"></i>&nbsp; Login</a> </li>
                <li class="dropdown">
                <a class="" href="#"><i class="fa fa fa-angle-down" aria-hidden="true"></i> &nbsp; Help</a>
                 <div class="dropdown-menu">
          <p class="cnt-help"> {{ 'HELP_NUMBER' | translate }} </p>
          <p class="cnt-detl"><span class="large-text">{{ 'HELP_WEAAAB' | translate }}   </span>
          <br> {{ 'HELP_TIMINGS' | translate }} </p>
         
        </div>
             
    </li>
                
                
                
              </ul>
                <!-- BEGIN LOGO -->
                
                <!-- END LOGO -->
                
            </div>
    
     </div>  
    