<div class="col-md-4 col-lg-4 col-sm-12  col-xs-12  ">
        <div class="grid simple date-total">
            
            <div class="grid-body no-border">
              <div class="row">
                <div class="col-md-12  col-lg-12 col-sm-12 col-xs-12">
                  <div id="dp5" data-date="07-04-2017" data-date-format="dd-mm-yyyy"></div>
                  
<!-- This is required for calender start-->  
                  <div class="col-md-4" style="display: none;">                            
                    <div class="row-fluid">
                       <div class="slide-primary">
                         <input type="checkbox" name="switch" class="ios" checked="checked"/>
                       </div>
                    <div class="slide-success">
                      <input type="checkbox" name="switch" class="iosblue" checked="checked"/>
                    </div>
                  </div>
                </div>
<!-- This is required for calender start-->  
                    <div class="row-fluid date-veiw">
                    
                        <div class="col-lg-12 ">
                            <ul>
                           
                          <li>  <a href="#"> <span class="pull-left">  Viewed Profile </span> <span class="count pull-right"> 9 </span> </a></li>
                          <li class="clearfix"></li>

                           <li>  <a href="#"> <span class="pull-left"> Profile Visitor  </span> <span class="count pull-right"> 22 </span> </a></li>
                             <li class="clearfix"></li>
                           <li>  <a href="#"> <span class="pull-left"> Contact Request   </span> <span class="count pull-right"> 12 </span> </a></li>
                             <li class="clearfix"></li>
                           <li>  <a href="#"> <span class="pull-left"> Contact Accepted </span> <span class="count pull-right"> 3 </span> </a></li> 
                               <li class="clearfix"></li>
                           <li>  <a href="#"> <span class="pull-left"> Photo Request  </span> <span class="count pull-right"> 5 </span> </a></li> 
                               <li class="clearfix"></li>
                          
                  

                        
                            </ul>
                        </div>
                        

                 
                      


                    </div>

                 </div>  

                 

               </div>
             </div>
          </div>

                 <div class="grid simple no-padding">
            
                    <div class="grid-body no-border no-padding">
                        
                          <div class="ad-here">
                            <img src="assets/img/266x169.jpg"/>
                        
                        </div>
                    </div>
                </div>
               
          
      </div>