<!-- BEGIN MINI-PROFILE -->
   <div class="user-info-wrapper">	
	<div class="profile-wrapper">
		<img src="assets/img/profiles/avatar.jpg"  alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/dharma2x.jpg" width="69" height="69" />
	</div>
    <div class="user-info">
      <div class="greeting">Welcome</div>
      <div class="username">Dharma <span class="semi-bold">Bharam</span></div>
      <div class="status">DB123456</div>
    </div>
   </div>
  <!-- END MINI-PROFILE -->
   
   <!-- BEGIN SIDEBAR MENU -->	
	
 <ul>	
      <li class="start active "> <a href="index.html"> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> <span class="selected"></span> <span class="badge badge-important pull-right">5</span></a> </li>
	 
      <li class=""> <a href="javascript:;"> <i class="icon-custom-home"></i> <span class="title">My Home</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
		  <li > <a href="index.html"> DashBoard </a> </li>
      <li > <a href="myprofile.html"> My Profile </a> </li>
      <li > <a href="addphotos.html"> Add Photos </a> </li>
		
        </ul>
      </li>
       <li class=""> <a href="javascript:;"> <i class="fa fa-user"></i> <span class="title">Matches</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
            <li class="start active "> <a href="prefered-matches.html" >  Prefered Matches</a> </li>
    <li class=""> <a href="daily-matches.html"> Daily Recomendations</a> </li>      
    <li class=""> <a href="new-matches.html" class="biliboard"> New Matches</a> </li>      
      <li class=""> <a href="you-may-like.html"> You May Like </a> </li>

  <li class=""> <a href="wishlist.html"> Wish List</a></li>                  
                  <li class=""> <a href="profile-visitors.html"> Profiled Visitors</a></li>                  
                  <li class=""> <a href="viewed-profiles.html"> Viewed Profiles</a></li>                  
                  <li class=""> <a href="verified-matches.html"> Verified Matches</a></li> 
    
        </ul>
      </li>
            <li class=""> <a href="javascript:;"> <i class="fa fa-search"></i> <span class="title">Search</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
            <li class="active ">  <a href="search-by.html" > Search By</a></li>
                  <li > <a href="search-history.html" class="biliboard"> Search History </a> </li>
                  <li class=""> <a href="search-by-profileid.html"> Search By Profile ID </a></li>   
                  <li class=""> <a href="marrige-bureau.html"> Marrige Bureau </a></li>  
                  <li class=""> <a href="physically-challenged.html"> Physically Challenged </a></li>
    
        </ul>
      </li>
       <li class=""> <a href="javascript:;"> <i class="fa fa-envelope"></i> <span class="title">Messages</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
                 <li class="">  <a href="search-by.html" > Search By</a></li>
                  <li> <a href="search-history.html" class="biliboard"> Search History </a> </li>
                  <li class=" active"> <a href="search-by-profileid.html"> Search By Profile ID </a></li>   
                  <li class=""> <a href="marrige-bureau.html"> Marrige Bureau </a></li>  
                  <li class=""> <a href="physically-challenged.html"> Physically Challenged </a></li>  

    
        </ul>
      </li>
        <li class="start active "> <a href="upgrade.html"> <i class="fa fa-certificate"></i> <span class="title">Upgrade</span> <span class="selected"></span> </a> </li>




	
		</ul>


	<a href="#" class="scrollup">Scroll</a>
	<div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  