<div class="wizard">
    <div class="wizard-inner" ng-if="!ctrl.editMode">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="tab in ctrl.moreInfoTabsmenu" ng-class="tab.active?'active':'disabled'">

                <a ng-if="tab.id==='basic'" ng-class="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) ? 'clickDisable':'clickEnable'"
                    ng-click="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) || ctrl.openTabContent(tab.id)"
                    role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
                <a ng-if="tab.id==='education'" ng-class="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) ? 'clickDisable':'clickEnable'"
                    ng-click="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) || ctrl.openTabContent(tab.id)"
                    role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
                <a ng-if="tab.id==='interests'" ng-class="(moreInfo.highest_education.$invalid || moreInfo.occupation.$invalid) ? 'clickDisable':'clickEnable'"
                    ng-click="(moreInfo.highest_education.$invalid || moreInfo.occupation.$invalid) || ctrl.openTabContent(tab.id)"
                    role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
                <a ng-if="tab.id==='family'" ng-class="(moreInfo.height.$invalid || moreInfo.physical_status.$invalid) ? 'clickDisable':'clickEnable'"
                    ng-click="(moreInfo.height.$invalid || moreInfo.physical_status.$invalid) || ctrl.openTabContent(tab.id)"
                    role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
            </li>
        </ul>
    </div>

    <form name="moreInfo" role="form" angular-validator-submit="ctrl.submitMoreInfo(basicinfo,educationwork,intrests,family)"
        novalidate angular-validator>
        <div class="tab-content">
            <div class="tab-pane animated jackInTheBox" ng-class="ctrl.moreInfoTabsmenu[0].active?'active':''" role="tabpanel" id="step1"
                ng-show="ctrl.moreInfoTabsmenu[0].active">
                <div class="step1">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 ng-class="ctrl.editMode ? 'moreInfoH2':''"> Add Basic Information </h2>
                        </div>

                        <div class="col-md-6">
                            <label class="required">Maritial Status</label>
                            <select class="minimal form-control" name="maritialstatus" ng-model="basicinfo.maritialstatus" required-message="ctrl.required('REQUIRED')"
                                validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option ng-repeat="ms in ctrl.formdata.MaritialStatus" value="{{ms.value}}">{{ms.name}}</option>
                                       
                                    </select>
                        </div>

                        <div class="col-md-6">
                            <label class="required">Mother Tounge</label>
                            <select class="minimal form-control" name="mothertounge" ng-model="basicinfo.mothertounge" required-message="ctrl.required('REQUIRED')"
                                validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option ng-repeat="mt in ctrl.formdata.mother_tongues" value="{{mt.value}}">{{mt.name}}</option>
                                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="required">Religion</label>
                            <select class="minimal form-control" name="religion" ng-model="basicinfo.religion" ng-change="ctrl.loadCaste(basicinfo.religion);basicinfo.caste=''"
                                required-message="ctrl.required('REQUIRED')" validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                        <option ng-repeat="rl in ctrl.formdata.religions" value="{{rl.value}}">{{rl.name}}</option>
                                       </select>
                        </div>
                        <div class="col-md-6">
                            <label class="required">Caste</label>
                            <select class="minimal form-control" name="caste" ng-disabled="!basicinfo.religion" ng-model="basicinfo.caste" required-message="ctrl.required('REQUIRED')"
                                validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">select Your Caste</option>
                                       <option ng-repeat="caste in ctrl.casteData" value="{{caste.value}}">{{caste.name}}</option>
                                    </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Sub Caste</label>
                            <input type="text" placeholder="Enter Your Sub Caste" ng-model="basicinfo.subcaste">
                        </div>
                        <div class="col-md-6">
                            <label>Gothram </label>
                            <input type="text" placeholder="Enter Your Gothram" ng-model="basicinfo.gothram" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="required">Country Living In</label>
                            <select class="minimal form-control" name="country" ng-model="basicinfo.country" ng-change="ctrl.loadState(basicinfo.country);basicinfo.state=''"
                                required-message="ctrl.required('REQUIRED')" validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">select Your Country</option>
                                       <option ng-repeat="ct in ctrl.countrys" value="{{ct.id}}">{{ct.name}}</option>
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label class="required">State Living In</label>
                            <select class="minimal form-control" name="state" ng-model="basicinfo.state" ng-disabled="!basicinfo.country" ng-change="ctrl.loadCity(basicinfo.state);basicinfo.city=''"
                                required-message="ctrl.required('REQUIRED')" validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">select Your State</option>
                                       <option ng-repeat="state in ctrl.states"  value="{{state.id}}">{{state.name}}</option>
                                    </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="required">City Living In</label>
                            <select class="minimal form-control" name="city" ng-model="basicinfo.city" ng-disabled="!basicinfo.state" required-message="ctrl.required('REQUIRED')"
                                validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">select Your city</option>
                                       <option ng-repeat="city in ctrl.cities"  value="{{city.id}}">{{city.name}}</option>
                                    </select>
                        </div>
                    </div>
                </div>
                <ul class="list-inline pull-left" ng-if="!ctrl.editMode">
                    <li>
                        <button type="button" ng-click="ctrl.openTabContent('education')" ng-disabled="moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid"
                            class="button  raised hoverable next-step">
                                    <div class="anim"></div>
                                    <span>Continue!</span>
                                 </button>
                    </li>
                </ul>
            </div>
            <div class="tab-pane animated jackInTheBox" role="tabpanel" id="step2" ng-class="ctrl.moreInfoTabsmenu[1].active?'active':''"
                ng-show="ctrl.moreInfoTabsmenu[1].active">
                <div class="step2">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 ng-class="ctrl.editMode ? 'moreInfoH2':''"> Add Your Education & Work Information </h2>
                        </div>
                        <div class="col-md-6">
                            <label class="required">Highest Education</label>
                            <select class="minimal form-control" name="highest_education" ng-model="educationwork.high_edu" required-message="ctrl.required('REQUIRED')"
                                validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option ng-repeat="ed in ctrl.formdata.educations" value="{{ed.value}}">{{ed.name}}</option>
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label>Filed Of Study</label>
                            <select class="minimal" ng-model="educationwork.filed_study">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                        <option ng-repeat="sd in ctrl.formdata.studies" value="{{sd.value}}">{{sd.name}}</option>
                                       </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="required">Occupation</label>
                            <select class="minimal form-control" name="occupation" ng-model="educationwork.occupation" required-message="ctrl.required('REQUIRED')"
                                validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option ng-repeat="oc in ctrl.formdata.occupations" value="{{oc.value}}">{{oc.name}}</option>
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label>Company Name</label>
                            <input type="text" placeholder="Enter Company Name" ng-model="educationwork.company">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Designation</label>
                            <input type="text" placeholder="Enter Your Designation" ng-model="educationwork.designation">
                        </div>
                    </div>
                    <!--<div class="row ng-hide">
                                 <div class="col-md-12">
                                    <label >Express Yourself </label>
                                    <textarea class="expressurself" rows="4" cols="50" ng-model="educationwork.express_yourself"></textarea>
                                 </div>
                              </div>-->
                </div>
                <!--<ul class="list-inline pull-left ng-hide">
                              <li><button type="button" ng-click="ctrl.OpenHelpMeWorkModal('lg')" class="btn btn-default write-d"> Help Me To Write This <i class="fa fa-pencil" aria-hidden="true"></i>
                                 </button>
                              </li>
                          </ul>-->
                <div class="clearfix"></div>
                <ul class="list-inline pull-left" ng-if="!ctrl.editMode">
                    <li>
                        <button type="button" ng-click="ctrl.openTabContent('interests')" ng-disabled="(moreInfo.highest_education.$invalid || moreInfo.occupation.$invalid)"
                            class="button  raised hoverable next-step">
                                    <div class="anim"></div>
                                    <span>Continue!</span>
                                 </button>
                    </li>
                </ul>
            </div>
            <div class="tab-pane animated jackInTheBox" role="tabpanel" id="step3" ng-class="ctrl.moreInfoTabsmenu[2].active?'active':''"
                ng-show="ctrl.moreInfoTabsmenu[2].active">
                <div class="step3">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 ng-class="ctrl.editMode ? 'moreInfoH2':''"> Add Your Appearence And Intrest Information Details </h2>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="required">Height</label>
                                    <select class="minimal form-control" name="height" ng-model="intrests.height" required-message="ctrl.required('REQUIRED')"
                                        validate-on="dirty" required>
                                             <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                             <option ng-repeat="h in ctrl.formdata.height" ng-value="{{h}}">{{h | height}}</option>
                                          </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Weight</label>
                                    <select class="minimal" ng-model="intrests.weight">
                                             <option value="">Not interested</option>
                                             <option ng-repeat="_ in ((_ = []) && (_.length=70) && _) track by $index" value="{{30+$index}}">{{30+$index}} kg</option>
                                             
                                          </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Complexion</label>
                            <select class="minimal" ng-model="intrests.complexion">
                                       <option value="">Not interested</option>
                                       <option ng-repeat="com in ctrl.formdata.complexion" value="{{com.value}}">{{com.name}}</option>
                                       
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label>Body Type</label>
                            <select class="minimal" ng-model="intrests.body_type">
                                       <option value="">Not interested</option>
                                       <option ng-repeat="bd in ctrl.formdata.BodyType" value="{{bd.value}}">{{bd.name}}</option>
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label class="required">Physical Status</label>
                            <p ng-init="intrests.physical_status='NOR'"></p>
                            <select class="minimal form-control" name="physical_status" ng-model="intrests.physical_status" required-message="ctrl.required('REQUIRED')"
                                validate-on="dirty" required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option ng-repeat="pc in ctrl.formdata.PhysicalStatus" value="{{pc.value}}">{{pc.name}}</option>
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label>Hobbies</label>
                            <!-- <select class="minimal" name="expectation" ng-model="intrests.hobbie">
                                       <option value="" selected="selected" disabled="disabled">Select one </option>
                                       <option ng-repeat="hobbie in ctrl.hobbies" value="{{hobbie}}">{{hobbie}}</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select> -->
                                    <ui-select multiple ng-model="intrests.hobbie"  theme="bootstrap"   style="width: 360px;" title="Choose a hobbie">
                                        <ui-select-match placeholder="Select hobbie...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices  repeat="hobbie.value as hobbie in ctrl.hobbies | propsFilter: {name: $select.search}">
                                          <div ng-bind-html="hobbie.name | highlight: $select.search"></div>
                                       </ui-select-choices>
                                      </ui-select>
                        </div>
                        <div class="col-md-6">
                            <label>Expectation</label>
                            <select class="minimal" name="expectation" ng-model="intrests.expectation">
                                       <option value="">Not interested</option>
                                       <option ng-repeat="ex in ctrl.formdata.Expectation" value="{{ex.value}}">{{ex.name}}</option>
                                    </select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <ul class="list-inline pull-left" ng-if="!ctrl.editMode">
                    <li>
                        <button type="button" ng-click="ctrl.openTabContent('family')" ng-disabled="(moreInfo.height.$invalid || moreInfo.physical_status.$invalid)"
                            class="button  raised hoverable next-step">
                                    <div class="anim"></div>
                                    <span>Continue!</span>
                                 </button>
                    </li>
                </ul>
            </div>
            <div class="tab-pane animated jackInTheBox" role="tabpanel" id="complete" ng-class="ctrl.moreInfoTabsmenu[3].active?'active':''"
                ng-show="ctrl.moreInfoTabsmenu[3].active">
                <div class="complete">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 ng-class="ctrl.editMode ? 'moreInfoH2':''"> Add Your Family Background And Horoscope </h2>
                        </div>
                        <div class="col-md-6">
                            <label>Father Name</label>
                            <input type="text" placeholder="Enter your father name" ng-model="family.father">
                        </div>
                        <div class="col-md-6">
                            <label>Father Occupation</label>
                            <input type="text" placeholder="Enter your father occupation" ng-model="family.father_occupation">
                        </div>
                        <div class="col-md-6">
                            <label>Mother Name</label>
                            <input type="text" placeholder="Enter your mother name" ng-model="family.mother">
                        </div>
                        <div class="col-md-6">
                            <label>Siblings</label>
                            <input type="text" placeholder="Enter your text" ng-model="family.siblings">
                        </div>
                        <div class="col-md-6">
                            <label>Mosal</label>
                            <input type="text" placeholder="Enter your sibilings" ng-model="family.mosal">
                        </div>
                        <div class="col-md-6">
                            <label>Family Address</label>
                            <textarea rows="4" cols="50" ng-model="family.address"> </textarea>
                        </div>
                        <div class="col-md-6 ">
                            <label class="required">Family Contact Number</label>
                            <div class="row phoneNumber pull-right">
                                <div class="col-md-3 p-r-0">
                                    <div ng-init="family.country_code='+91'"></div>
                                    <select class="minimal form-control" style="min-width:100px;" ng-model="family.country_code">
                                             <option ng-repeat="(key, value) in ctrl.countriesCodes" value="{{ value }}">{{ value }}</option>
                                          </select>
                                </div>
                                <div class="col-md-9 p-l-0">
                                    <input class="input-btn form-control" type="text" name="phone_number" placeholder="999 999 9999" ng-model="family.phone_number"
                                        validator="ctrl.phoneValidator(family.phone_number) === true" invalid-message="ctrl.phoneValidator(family.phone_number)"
                                        required-message="ctrl.required('REQUIRED')" validate-on="dirty" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>City</label>
                            <input type="text" placeholder="Enter your city" ng-model="family.city">
                        </div>
                        <div class="col-md-6">
                            <label>Native Place</label>
                            <input type="text" placeholder="Enter your place" ng-model="family.native_place">
                        </div>
                        <div class="col-md-6">
                            <label>Time Of Birth</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="minimal" ng-model="family.time_birth_hr">
                                        <option value="">Not interested</option>
                                             <option ng-repeat="_ in ((_ = []) && (_.length=25) && _) track by $index" ng-value="$index+1">{{$index}} (hours)</option>
                                             
                                          </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="minimal" ng-model="family.time_birth_min">
                                        <option value="">Not interested</option>
                                             <option ng-repeat="_ in ((_ = []) && (_.length=61) && _) track by $index" ng-value="$index+1">{{$index}} (minutes)</option>
                                             <option value="">Not interested</option>
                                          </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Place Of Birth</label>
                            <input type="text" placeholder="Enter your text" ng-model="family.place_birth">
                        </div>
                        <div class="col-md-6">
                            <label>Horoscope Details</label>
                            <select class="minimal" ng-model="family.horoscope">
                                       <option value="">Not interested</option>
                                       <option ng-repeat="hr in ctrl.formdata.Horoscope" value="{{hr.value}}">{{hr.name}}</option>
                                      
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label>Zodiac</label>
                            <select class="minimal" ng-model="family.zodiac">
                                       <option value="">Not interested</option>
                                       <option ng-repeat="zodiac in ctrl.zodiac" value="{{zodiac}}">{{zodiac}}</option>
                                     
                                    </select>
                        </div>
                        <div class="col-md-6">
                            <label>Anal Income</label>
                            <select class="minimal" ng-model="family.aincome">
                                       <option value="">Not interested</option>
                                       <option ng-repeat="ai in ctrl.formdata.aincome" value="{{ai.value}}">{{ai.name}}</option>
                                    </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-8">
                            <div class="all-do">
                                <div ng-init="family.beleave_hor=false"></div>
                                <label class="pull-left">Do You Beleave In Horoscope</label>
                                <div class="wiz-raido pull-right">
                                    <switch id="enabled0" name="enabled0" ng-model="family.beleave_hor" on="Yes" off="No" class=" wide pripubsw"></switch>
                                    <!--                                     
                                          <div class="wiz-label">
                                             Yes
                                          </div>
                                          <input type="radio" name="beleave_hor" value="YES" ng-model="family.beleave_hor">
                                          <div class="wiz-label">
                                             NO
                                          </div>
                                          <input type="radio" name="beleave_hor" value="NO" ng-model="family.beleave_hor">-->
                                </div>
                            </div>
                        </div>    <div class="clearfix"></div>
                        <div class="col-md-8">
                            <div class="all-do">
                                <div ng-init="family.manglik=false"></div>
                                <label class="pull-left">Are You Manglik?</label>
                                <div class="wiz-raido pull-right">
                                    <switch id="enabled1" name="enabled1" ng-model="family.manglik" on="Yes" off="No" class=" wide pripubsw"></switch>
                                    <!--<div class="wiz-label">
                                             Yes
                                          </div>
                                          <input type="radio" name="manglik" value="YES" ng-model="family.manglik">
                                          <div class="wiz-label">
                                             NO
                                          </div>
                                          <input type="radio" name="manglik" value="NO" ng-model="family.manglik">-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="list-inline pull-right">
                        <li>
                            <button type="submit" ng-disabled="moreInfo.phone_number.$invalid" ng-if="!ctrl.editMode" class="button  raised hoverable next-step">
                                       <div class="anim"></div>
                                       <span>{{ctrl.editMode ? 'Update' : 'Proceed'}}</span>
                                    </button>

                            <button type="submit" ng-disabled="!(moreInfo.$valid && ctrl.registerform.$valid)" ng-if="(ctrl.editMode && ctrl.isAdmin)" class="button  raised hoverable next-step">
                                       <div class="anim"></div>
                                       <span>{{ctrl.editMode ? 'Update' : ''}}</span>
                                    </button>
                                   
                                    <button type="submit" ng-disabled="!moreInfo.$valid" ng-if="(ctrl.editMode && !ctrl.isAdmin)" class="button  raised hoverable next-step">
                                            <div class="anim"></div>
                                            <span>{{ctrl.editMode ? 'Update' : ''}}</span>
                                         </button>
                        </li>
                    </ul>
                    <!--<textarea>{{basicinfo}}</textarea>
                              <textarea>{{educationwork}}</textarea>
                              <textarea>{{intrests}}</textarea>
                              <textarea>{{family}}</textarea>-->
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </form>
</div>
<style>
    .moreInfoH2 {
        background-color: #efefef;
        padding: 0.8% 1.6%;
        font-size: 14px !important;
        color: #009999;
        text-align: center;
        font-weight: 400;
        margin: 10px 0;
    }
</style>