<div class="wizard">
                  <div class="wizard-inner">
                     <div class="connecting-line"></div>
                     <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"   ng-repeat="tab in ctrl.moreInfoTabsmenu" ng-class="tab.active?'active':'disabled'">
                           
                           <a ng-if="tab.id==='basic'" ng-class="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) ? 'clickDisable':'clickEnable'"
                            ng-click="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) || ctrl.openTabContent(tab.id)" role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
                           <a ng-if="tab.id==='education'" ng-class="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) ? 'clickDisable':'clickEnable'" ng-click="(moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid) || ctrl.openTabContent(tab.id)" role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
                            <a ng-if="tab.id==='interests'" ng-class="(moreInfo.highest_education.$invalid || moreInfo.occupation.$invalid) ? 'clickDisable':'clickEnable'" ng-click="(moreInfo.highest_education.$invalid || moreInfo.occupation.$invalid) || ctrl.openTabContent(tab.id)" role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
                           <a ng-if="tab.id==='family'" ng-class="(moreInfo.height.$invalid || moreInfo.physical_status.$invalid) ? 'clickDisable':'clickEnable'" ng-click="(moreInfo.height.$invalid || moreInfo.physical_status.$invalid) || ctrl.openTabContent(tab.id)" role="tab" tooltip-placement="'top'" uib-tooltip="{{tab.translateKey | translate}}">
                           <span class="round-tab">
                           {{$index+1}}
                           </span>
                           <span class="reg-info hidden-xs"> {{tab.translateKey | translate}}</span>   
                           </a>
                        </li>
                     </ul>
                  </div>
                 
                  <form name="moreInfo" role="form" angular-validator-submit="ctrl.submitMoreInfo(basicinfo,educationwork,intrests,family)" novalidate angular-validator>
                     <div class="tab-content">
                        <div class="tab-pane animated jackInTheBox" ng-class="ctrl.moreInfoTabsmenu[0].active?'active':''" role="tabpanel" id="step1" ng-show="ctrl.moreInfoTabsmenu[0].active">
                           <div class="step1">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <h2> Add Your Education & Work Information </h2>
                                 </div>
                                 <a ng-click="ctrl.openDisplayPhotoUploadModal('lg')">click</a>
                                 <div class="col-md-6">
                                    <label class="required" >Maritial Status</label>
                                    <select class="minimal form-control"
                                       name="maritialstatus"
                                       ng-model = "basicinfo.maritialstatus"
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                        <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="SINGLE">Single</option>
                                       <option value="MARRIED">Married</option>
                                    </select>
                                 </div>
                             
                                 <div class="col-md-6">
                                    <label class="required" >Mother Tounge</label>
                                    <select class="minimal form-control"
                                       name="mothertounge"
                                       ng-model = "basicinfo.mothertounge"
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="AF">Afrikanns</option>
                                       <option value="SQ">Albanian</option>
                                       <option value="AR">Arabic</option>
                                       <option value="HY">Armenian</option>
                                       <option value="EU">Basque</option>
                                       <option value="BN">Bengali</option>
                                       <option value="BG">Bulgarian</option>
                                       <option value="CA">Catalan</option>
                                       <option value="KM">Cambodian</option>
                                       <option value="ZH">Chinese (Mandarin)</option>
                                       <option value="HR">Croation</option>
                                       <option value="CS">Czech</option>
                                       <option value="DA">Danish</option>
                                       <option value="NL">Dutch</option>
                                       <option value="EN">English</option>
                                       <option value="ET">Estonian</option>
                                       <option value="FJ">Fiji</option>
                                       <option value="FI">Finnish</option>
                                       <option value="FR">French</option>
                                       <option value="KA">Georgian</option>
                                       <option value="DE">German</option>
                                       <option value="EL">Greek</option>
                                       <option value="GU">Gujarati</option>
                                       <option value="HE">Hebrew</option>
                                       <option value="HI">Hindi</option>
                                       <option value="HU">Hungarian</option>
                                       <option value="IS">Icelandic</option>
                                       <option value="ID">Indonesian</option>
                                       <option value="GA">Irish</option>
                                       <option value="IT">Italian</option>
                                       <option value="JA">Japanese</option>
                                       <option value="JW">Javanese</option>
                                       <option value="KO">Korean</option>
                                       <option value="LA">Latin</option>
                                       <option value="LV">Latvian</option>
                                       <option value="LT">Lithuanian</option>
                                       <option value="MK">Macedonian</option>
                                       <option value="MS">Malay</option>
                                       <option value="ML">Malayalam</option>
                                       <option value="MT">Maltese</option>
                                       <option value="MI">Maori</option>
                                       <option value="MR">Marathi</option>
                                       <option value="MN">Mongolian</option>
                                       <option value="NE">Nepali</option>
                                       <option value="NO">Norwegian</option>
                                       <option value="FA">Persian</option>
                                       <option value="PL">Polish</option>
                                       <option value="PT">Portuguese</option>
                                       <option value="PA">Punjabi</option>
                                       <option value="QU">Quechua</option>
                                       <option value="RO">Romanian</option>
                                       <option value="RU">Russian</option>
                                       <option value="SM">Samoan</option>
                                       <option value="SR">Serbian</option>
                                       <option value="SK">Slovak</option>
                                       <option value="SL">Slovenian</option>
                                       <option value="ES">Spanish</option>
                                       <option value="SW">Swahili</option>
                                       <option value="SV">Swedish </option>
                                       <option value="TA">Tamil</option>
                                       <option value="TT">Tatar</option>
                                       <option value="TE">Telugu</option>
                                       <option value="TH">Thai</option>
                                       <option value="BO">Tibetan</option>
                                       <option value="TO">Tonga</option>
                                       <option value="TR">Turkish</option>
                                       <option value="UK">Ukranian</option>
                                       <option value="UR">Urdu</option>
                                       <option value="UZ">Uzbek</option>
                                       <option value="VI">Vietnamese</option>
                                       <option value="CY">Welsh</option>
                                       <option value="XH">Xhosa</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <label class="required" >Religion</label>
                                    <select class="minimal form-control"
                                       name="religion"
                                       ng-model="basicinfo.religion" 
                                       ng-change="ctrl.loadCaste(basicinfo.religion);basicinfo.caste=''"
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required
                                       >
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="African Traditional &amp; Diasporic">African Traditional &amp; Diasporic</option>
                                       <option value="Agnostic">Agnostic</option>
                                       <option value="Atheist">Atheist</option>
                                       <option value="Bahai">Baha'i</option>
                                       <option value="Buddhism">Buddhism</option>
                                       <option value="Cao Dai">Cao Dai</option>
                                       <option value="Chinese traditional religion">Chinese traditional religion</option>
                                       <option value="Christianity">Christianity</option>
                                       <option value="Hinduism">Hinduism</option>
                                       <option value="Islam">Islam</option>
                                       <option value="Jainism">Jainism</option>
                                       <option value="Juche">Juche</option>
                                       <option value="Judaism">Judaism</option>
                                       <option value="Neo-Paganism">Neo-Paganism</option>
                                       <option value="Nonreligious">Nonreligious</option>
                                       <option value="Rastafarianism">Rastafarianism</option>
                                       <option value="Secular">Secular</option>
                                       <option value="Shinto">Shinto</option>
                                       <option value="Sikhism">Sikhism</option>
                                       <option value="Spiritism">Spiritism</option>
                                       <option value="Tenrikyo">Tenrikyo</option>
                                       <option value="Unitarian-Universalism">Unitarian-Universalism</option>
                                       <option value="Zoroastrianism">Zoroastrianism</option>
                                       <option value="primal-indigenous">primal-indigenous</option>
                                       <option value="Other">Other</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label class="required" >Caste</label>
                                    <select class="minimal form-control"
                                       name="caste"
                                       ng-disabled="!basicinfo.religion" 
                                       ng-model="basicinfo.caste" 
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">select Your Caste</option>
                                       <option ng-repeat="caste in ctrl.casteData" value="{{caste}}">{{caste}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <label >Sub Caste</label>
                                    <input type="text" placeholder="Enter Your Sub Caste" ng-model="basicinfo.subcaste">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Gothram </label>
                                    <input type="text" placeholder="Enter Your Gothram" ng-model="basicinfo.gothram" />
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <label class="required">Country Living In</label>
                                    <select class="minimal form-control"
                                       name="country"
                                       ng-model="basicinfo.country"
                                       ng-change="ctrl.loadState(basicinfo.country);basicinfo.state=''"
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">select Your Country</option>
                                       <option ng-repeat="ct in ctrl.countrys" value="{{ct.id}}">{{ct.name}}</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label class="required" >State Living In</label>
                                    <select class="minimal form-control"
                                       name="state"
                                       ng-model="basicinfo.state" 
                                       ng-disabled="!basicinfo.country"
                                       ng-change="ctrl.loadCity(basicinfo.state);basicinfo.city=''"
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">select Your State</option>
                                       <option ng-repeat="state in ctrl.states"  value="{{state.id}}">{{state.name}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <label class="required" >City Living In</label>
                                    <select class="minimal form-control"
                                       name="city" 
                                       ng-model="basicinfo.city" 
                                       ng-disabled="!basicinfo.state"
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">select Your city</option>
                                       <option ng-repeat="city in ctrl.cities"  value="{{city.id}}">{{city.name}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <ul class="list-inline pull-left">
                              <li>
                                 <button type="button" ng-click="ctrl.openTabContent('education')" ng-disabled="moreInfo.maritialstatus.$invalid || moreInfo.mothertounge.$invalid || moreInfo.religion.$invalid || moreInfo.caste.$invalid || moreInfo.country.$invalid || moreInfo.state.$invalid || moreInfo.city.$invalid" class="button  raised hoverable next-step">
                                    <div class="anim"></div>
                                    <span>Continue!</span>
                                 </button>
                              </li>
                           </ul>
                        </div>
                        <div class="tab-pane animated jackInTheBox" role="tabpanel" id="step2" ng-class="ctrl.moreInfoTabsmenu[1].active?'active':''" ng-show="ctrl.moreInfoTabsmenu[1].active">
                           <div class="step2">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <h2> Add Your Education & Work Information </h2>
                                 </div>
                                 <div class="col-md-6">
                                    <label class="required" >Highest Education</label>
                                    <select class="minimal form-control"
                                       name="highest_education" 
                                       ng-model="educationwork.high_edu" 
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="No formal education">No formal education</option>
                                       <option value="Primary education">Primary education</option>
                                       <option value="Secondary education">Secondary education or high school</option>
                                       <option value="GED">GED</option>
                                       <option value="Vocational qualification">Vocational qualification</option>
                                       <option value="Bachelor's degree">Bachelor's degree</option>
                                       <option value="Master's degree">Master's degree</option>
                                       <option value="Doctorate or higher">Doctorate or higher</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Filed Of Study</label>
                                    <select class="minimal" ng-model="educationwork.filed_study" >
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="12.1">Agriculture</option>
                                       <option value="12.2">Automobile</option>
                                       <option value="12.3">Aviation</option>
                                       <option value="12.4">Bio-Chemistry/Bio-Technology</option>
                                       <option value="12.5">Biomedical</option>
                                       <option value="12.6">Ceramics</option>
                                       <option value="12.7">Chemical</option>
                                       <option value="12.8">Civil</option>
                                       <option value="12.9" >Computers</option>
                                       <option value="12.10">Electrical</option>
                                       <option value="12.11">Electronics/Telecommunication</option>
                                       <option value="12.12">Energy</option>
                                       <option value="12.13">Environmental</option>
                                       <option value="12.14">Instrumentation</option>
                                       <option value="12.15">Marine</option>
                                       <option value="12.16">Mechanical</option>
                                       <option value="12.17">Metallurgy</option>
                                       <option value="12.18">Mineral</option>
                                       <option value="12.19">Mining</option>
                                       <option value="12.20">Nuclear</option>
                                       <option value="12.21">Paint/Oil</option>
                                       <option value="12.22">Petroleum</option>
                                       <option value="12.23">Plastics</option>
                                       <option value="12.24">Production/Industrial</option>
                                       <option value="12.25">Textile</option>
                                       <option value="12.26">Other Engineering</option>
                                       <option value="12.9999">Other</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <label class="required" >Occupation</label>
                                    <select class="minimal form-control"
                                       name="occupation" 
                                       ng-model="educationwork.occupation" 
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <optgroup label="Healthcare Practitioners and Technical Occupations:">
                                          <option value="1">-  Chiropractor</option>
                                          <option value="2">-  Dentist</option>
                                          <option value="3">-  Dietitian or Nutritionist</option>
                                          <option value="4">-  Optometrist</option>
                                          <option value="5">-  Pharmacist</option>
                                          <option value="6">-  Physician</option>
                                          <option value="7">-  Physician Assistant</option>
                                          <option value="8">-  Podiatrist</option>
                                          <option value="9">-  Registered Nurse</option>
                                          <option value="10">-  Therapist</option>
                                          <option value="11">-  Veterinarian</option>
                                          <option value="12">-  Health Technologist or Technician</option>
                                          <option value="13">-  Other Healthcare Practitioners and Technical Occupation</option>
                                       </optgroup>
                                       <optgroup label="Healthcare Support Occupations:">
                                          <option value="14">-  Nursing, Psychiatric, or Home Health Aide</option>
                                          <option value="15">-  Occupational and Physical Therapist Assistant or Aide</option>
                                          <option value="16">-  Other Healthcare Support Occupation</option>
                                       </optgroup>
                                       <optgroup label="Business, Executive, Management, and Financial Occupations:">
                                          <option value="17">-  Chief Executive</option>
                                          <option value="18">-  General and Operations Manager</option>
                                          <option value="19">-  Advertising, Marketing, Promotions, Public Relations, and Sales Manager</option>
                                          <option value="20">-  Operations Specialties Manager (e.g., IT or HR Manager)</option>
                                          <option value="21">-  Construction Manager</option>
                                          <option value="22">-  Engineering Manager</option>
                                          <option value="23">-  Accountant, Auditor</option>
                                          <option value="24">-  Business Operations or Financial Specialist</option>
                                          <option value="25">-  Business Owner</option>
                                          <option value="26">-  Other Business, Executive, Management, Financial Occupation</option>
                                       </optgroup>
                                       <optgroup label="Architecture and Engineering Occupations:">
                                          <option value="27">-  Architect, Surveyor, or Cartographer</option>
                                          <option value="28">-  Engineer</option>
                                          <option value="29">-  Other Architecture and Engineering Occupation</option>
                                       </optgroup>
                                       <optgroup label="Education, Training, and Library Occupations:">
                                          <option value="30">-  Postsecondary Teacher (e.g., College Professor)</option>
                                          <option value="31">-  Primary, Secondary, or Special Education School Teacher</option>
                                          <option value="32">-  Other Teacher or Instructor</option>
                                          <option value="33">-  Other Education, Training, and Library Occupation</option>
                                       </optgroup>
                                       <optgroup label="Other Professional Occupations:">
                                          <option value="34">-  Arts, Design, Entertainment, Sports, and Media Occupations</option>
                                          <option value="35">-  Computer Specialist, Mathematical Science</option>
                                          <option value="36">-  Counselor, Social Worker, or Other Community and Social Service Specialist</option>
                                          <option value="37">-  Lawyer, Judge</option>
                                          <option value="38">-  Life Scientist (e.g., Animal, Food, Soil, or Biological Scientist, Zoologist)</option>
                                          <option value="39">-  Physical Scientist (e.g., Astronomer, Physicist, Chemist, Hydrologist)</option>
                                          <option value="40">-  Religious Worker (e.g., Clergy, Director of Religious Activities or Education)</option>
                                          <option value="41">-  Social Scientist and Related Worker</option>
                                          <option value="42">-  Other Professional Occupation</option>
                                       </optgroup>
                                       <optgroup label="Office and Administrative Support Occupations:">
                                          <option value="43">-  Supervisor of Administrative Support Workers</option>
                                          <option value="44">-  Financial Clerk</option>
                                          <option value="45">-  Secretary or Administrative Assistant</option>
                                          <option value="46">-  Material Recording, Scheduling, and Dispatching Worker</option>
                                          <option value="47">-  Other Office and Administrative Support Occupation</option>
                                       </optgroup>
                                       <optgroup label="Services Occupations:">
                                          <option value="48">-  Protective Service (e.g., Fire Fighting, Police Officer, Correctional Officer)</option>
                                          <option value="49">-  Chef or Head Cook</option>
                                          <option value="50">-  Cook or Food Preparation Worker</option>
                                          <option value="51">-  Food and Beverage Serving Worker (e.g., Bartender, Waiter, Waitress)</option>
                                          <option value="52">-  Building and Grounds Cleaning and Maintenance</option>
                                          <option value="53">-  Personal Care and Service (e.g., Hairdresser, Flight Attendant, Concierge)</option>
                                          <option value="54">-  Sales Supervisor, Retail Sales</option>
                                          <option value="55">-  Retail Sales Worker</option>
                                          <option value="56">-  Insurance Sales Agent</option>
                                          <option value="57">-  Sales Representative</option>
                                          <option value="58">-  Real Estate Sales Agent</option>
                                          <option value="59">-  Other Services Occupation</option>
                                       </optgroup>
                                       <optgroup label="Agriculture, Maintenance, Repair, and Skilled Crafts Occupations:">
                                          <option value="60">-  Construction and Extraction (e.g., Construction Laborer, Electrician)</option>
                                          <option value="61">-  Farming, Fishing, and Forestry</option>
                                          <option value="62">-  Installation, Maintenance, and Repair</option>
                                          <option value="63">-  Production Occupations</option>
                                          <option value="64">-  Other Agriculture, Maintenance, Repair, and Skilled Crafts Occupation</option>
                                       </optgroup>
                                       <optgroup label="Transportation Occupations:">
                                          <option value="65">-  Aircraft Pilot or Flight Engineer</option>
                                          <option value="66">-  Motor Vehicle Operator (e.g., Ambulance, Bus, Taxi, or Truck Driver)</option>
                                          <option value="67">-  Other Transportation Occupation</option>
                                       </optgroup>
                                       <optgroup label="Other Occupations:">
                                          <option value="68">-  Military</option>
                                          <option value="69">-  Homemaker</option>
                                          <option value="70">-  Other Occupation</option>
                                          <option value="71">-  Don't Know</option>
                                          <option value="72">-  Not Applicable</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Company Name</label>
                                    <input type="text" placeholder="Enter Company Name"  ng-model="educationwork.company" >
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <label >Designation</label>
                                    <input type="text" placeholder="Enter Your Designation" ng-model="educationwork.designation">
                                 </div>
                              </div>
                              <!--<div class="row ng-hide">
                                 <div class="col-md-12">
                                    <label >Express Yourself </label>
                                    <textarea class="expressurself" rows="4" cols="50" ng-model="educationwork.express_yourself"></textarea>
                                 </div>
                              </div>-->
                           </div>
                           <!--<ul class="list-inline pull-left ng-hide">
                              <li><button type="button" ng-click="ctrl.OpenHelpMeWorkModal('lg')" class="btn btn-default write-d"> Help Me To Write This <i class="fa fa-pencil" aria-hidden="true"></i>
                                 </button>
                              </li>
                          </ul>-->
                           <div class="clearfix"></div>
                           <ul class="list-inline pull-left">
                              <li>
                                 <button type="button" ng-click="ctrl.openTabContent('interests')" ng-disabled="(moreInfo.highest_education.$invalid || moreInfo.occupation.$invalid)" class="button  raised hoverable next-step">
                                    <div class="anim"></div>
                                    <span>Continue!</span>
                                 </button>
                              </li>
                           </ul>
                        </div>
                        <div class="tab-pane animated jackInTheBox" role="tabpanel" id="step3" ng-class="ctrl.moreInfoTabsmenu[2].active?'active':''" ng-show="ctrl.moreInfoTabsmenu[2].active">
                           <div class="step3">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <h2> Add Your Appearence And Intrest Information Details </h2>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-6">
                                          <label class="required" >Height</label>
                                          <select class="minimal form-control"
                                             name="height" 
                                             ng-model="intrests.height" 
                                             required-message="ctrl.required('REQUIRED')"
                                             validate-on="dirty"
                                             required>
                                             <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                             <option ng-repeat="_ in ((_ = []) && (_.length=30) && _) track by $index" value="{{(4.0+0.1*$index).toFixed(1)}}">{{(4.0+0.1*$index).toFixed(1)}} ft</option>
                                          </select>
                                       </div>
                                       <div class="col-md-6">
                                          <label >Weight</label>
                                          <select class="minimal" ng-model="intrests.weight">
                                             <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                             <option ng-repeat="_ in ((_ = []) && (_.length=70) && _) track by $index" value="{{30+$index}}">{{30+$index}} kg</option>
                                             <option value="NOT_INTERESTED">Not interested</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Complexion</label>
                                    <select class="minimal" ng-model="intrests.complexion">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="LIGHT">Light</option>
                                       <option value="FAIR">Fair</option>
                                       <option value="DARK">Dark</option>
                                       <option value="WHEATISH">wheatish</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Body Type</label>
                                    <select class="minimal" ng-model="intrests.body_type">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="SLIM">Slim</option>
                                       <option value="FAT">Fat</option>
                                       <option value="AVERAGE">Average</option>
                                       <option value="AVERAGE">Maximum</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label class="required" >Physical Status</label>
                                    <select class="minimal form-control"
                                       name="physical_status"  
                                       ng-model="intrests.physical_status"
                                       required-message="ctrl.required('REQUIRED')"
                                       validate-on="dirty"
                                       required>
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="NORMAL">Normal</option>
                                       <option value="PHYSICALLY_CHALLENGED">Physically challenged </option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Hobbies</label>
                                    <select class="minimal"
                                       name="expectation"  
                                       ng-model="intrests.hobbie">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option ng-repeat="hobbie in ctrl.hobbies" value="{{hobbie}}">{{hobbie}}</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Expectation</label>
                                    <select class="minimal"
                                       name="expectation"  
                                       ng-model="intrests.expectation">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="ONLYMUMBAI">Only Mumbai</option>
                                       <option value="READY_TO_RELOCATE_OF_INDIA">Ready to relocate of India</option>
                                       <option value="NO_CRITERIA_FOR_PLACE">No criteria for place</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                           <ul class="list-inline pull-left">
                              <li>
                                 <button type="button" ng-click="ctrl.openTabContent('family')" ng-disabled="(moreInfo.height.$invalid || moreInfo.physical_status.$invalid)" class="button  raised hoverable next-step">
                                    <div class="anim"></div>
                                    <span>Continue!</span>
                                 </button>
                              </li>
                           </ul>
                        </div>
                        <div class="tab-pane animated jackInTheBox" role="tabpanel" id="complete" ng-class="ctrl.moreInfoTabsmenu[3].active?'active':''" ng-show="ctrl.moreInfoTabsmenu[3].active">
                           <div class="complete">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <h2> Add Your Family Background And Horoscope </h2>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Father Name</label>
                                    <input type="text" placeholder="Enter your father name" ng-model="family.father">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Father Occupation</label>
                                    <input type="text" placeholder="Enter your father occupation" ng-model="family.father_occupation">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Mother Name</label>
                                    <input type="text" placeholder="Enter your mother name" ng-model="family.mother">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Siblings</label>
                                    <input type="text" placeholder="Enter your text" ng-model="family.siblings">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Mosal</label>
                                    <input type="text" placeholder="Enter your sibilings"  ng-model="family.mosal">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Family Address</label>
                                    <textarea rows="4" cols="50" ng-model="family.address"> </textarea>
                                 </div>
                                 <div class="col-md-6 ">
                                    <label class="required" >Family Contact Number</label>
                                    <div class="row phoneNumber">
                                       <div class="col-md-3 p-r-0">
                                          <div ng-init="family.country_code='+91'"></div>
                                          <select class="minimal form-control" ng-model="family.country_code">
                                             <option ng-repeat="(key, value) in ctrl.countriesCodes" value="{{ value }}">{{ value }}</option>
                                          </select>
                                       </div>
                                       <div class="col-md-9 p-l-0"> 
                                          <input class="input-btn form-control" type="text"
                                             name="phone_number" 
                                             placeholder="999 999 9999"
                                             ng-model = "family.phone_number"
                                             validator = "ctrl.phoneValidator(family.phone_number) === true"
                                             invalid-message = "ctrl.phoneValidator(family.phone_number)"
                                             required-message="ctrl.required('REQUIRED')"
                                             validate-on="dirty"
                                             append-message=".phoneNumber"
                                             required
                                             />
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <label >City</label>
                                    <input type="text" placeholder="Enter your city" ng-model="family.city">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Native Place</label>
                                    <input type="text" placeholder="Enter your place" ng-model="family.native_place">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Time Of Birth</label>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <select class="minimal" ng-model="family.time_birth_hr">
                                             <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                             <option ng-repeat="_ in ((_ = []) && (_.length=25) && _) track by $index" value="{{$index}}">{{$index}} (hours)</option>
                                             <option value="NOT_INTERESTED">Not interested</option>
                                          </select>
                                       </div>
                                       <div class="col-md-6">
                                          <select class="minimal" ng-model="family.time_birth_min">
                                             <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                             <option ng-repeat="_ in ((_ = []) && (_.length=61) && _) track by $index" value="{{$index}}">{{$index}} (minutes)</option>
                                             <option value="NOT_INTERESTED">Not interested</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Place Of Birth</label>
                                    <input type="text" placeholder="Enter your text" ng-model="family.place_birth">
                                 </div>
                                 <div class="col-md-6">
                                    <label >Horoscope Details</label>
                                    <select class="minimal" ng-model="family.horoscope">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="CLAIRE">Claire</option>
                                       <option value="LIGHT_MANGAL">Light Mangal</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Zodiac</label>
                                    <select class="minimal" ng-model="family.zodiac">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option ng-repeat="zodiac in ctrl.zodiac" value="{{zodiac}}">{{zodiac}}</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label >Anal Income</label>
                                    <select class="minimal" ng-model="family.aincome">
                                       <option value="" selected="selected" disabled="disabled">-- Select one --</option>
                                       <option value="1_2">0-2 Lakhs</option>
                                       <option value="3_5">3-5 Lakhs</option>
                                       <option value="5_8">5-8 Lakhs</option>
                                       <option value="8_10">8-10 Lakhs</option>
                                       <option value="10_A">Above 10 Lakhs</option>
                                       <option value="NOT_INTERESTED">Not interested</option>
                                    </select>
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="col-md-6">
                                    <div class="all-do">
                                       <div ng-init="family.beleave_hor='YES'"></div>
                                       <label  class="pull-left">Do You Beleave In Horoscope</label>
                                       <div class="wiz-raido pull-right">
                                          <div class="wiz-label">
                                             Yes
                                          </div>
                                          <input type="radio" name="beleave_hor" value="YES" ng-model="family.beleave_hor">
                                          <div class="wiz-label">
                                             NO
                                          </div>
                                          <input type="radio" name="beleave_hor" value="NO" ng-model="family.beleave_hor">
                                       </div>
                                    </div>
                                    <div class="all-do">
                                       <div ng-init="family.manglik='NO'"></div>
                                       <label  class="pull-left">Are You Manglik?</label>
                                       <div class="wiz-raido pull-right">
                                          <div class="wiz-label">
                                             Yes
                                          </div>
                                          <input type="radio" name="manglik" value="YES" ng-model="family.manglik">
                                          <div class="wiz-label">
                                             NO
                                          </div>
                                          <input type="radio" name="manglik" value="NO" ng-model="family.manglik">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                              <ul class="list-inline pull-left">
                                 <li>
                                    <button type="submit" ng-disabled="moreInfo.phone_number.$invalid"  class="button  raised hoverable next-step" >
                                       <div class="anim"></div>
                                       <span>Proceed</span>
                                    </button>
                                 </li>
                              </ul>
                              <textarea>{{basicinfo}}</textarea>
                              <textarea>{{educationwork}}</textarea>
                              <textarea>{{intrests}}</textarea>
                              <textarea>{{family}}</textarea>
                           </div>
                        </div>
                      
                        <div class="clearfix"></div>
                     </div>
                  </form>
               </div>