<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

  <div class="clearfix"></div>
  <div class="content">



    <div class="row">

      <!--Left Strat -->
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-4 p-r-0">
        
          <ul class="breadcrumb">
      <li>
        <p>MAIL</p>
      </li>
      <li><a href="#" class="active">{{$ctrl.viewType}}</a> </li>
    </ul>
      
          <!-- <mail-count view-type="$ctrl.viewType"></mail-count> -->

          <div class="grid simple mail-msg">
            <div class="grid-title no-border">
              <h4 class="bold">Mail</h4>
            </div>
            <div class="grid-body no-border pro-bord">  
                <div class="panel-group" >
          
        
                 <div class="list-group"> 
                          <a data-toggle="modal" ng-click="$ctrl.composemail()"  class="list-group-item panel-compose hand">Compose Mail</a>
                          <a ng-click="$ctrl.loadType('INBOX')" ng-class="$ctrl.viewType==='INBOX' ? 'active-list ' : ''" class="list-group-item disabled hand">Inbox<span class="badge">{{$ctrl.msgCounts.INBOX}}</span></a>
                          <a  ng-click="$ctrl.loadType('SENT')"  ng-class="$ctrl.viewType==='SENT' ? 'active-list ' : ''" class="list-group-item hand">Sent Mail <span class="badge">{{$ctrl.msgCounts.SENT}}</span></a>
                            </div>
                  
      
      
      
      </div>
            </div> 
          </div>



      </div>
      <!--profile End -->
      <!--you maylike Strat-->
      <div class="col-md-9 col-lg-9 col-xs-12 col-sm-8 ">
        
           <h3 class="mail-head">{{$ctrl.viewType}}</h3>
      <div class="row"  id="inbox-wrapper">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
         <messages-view view-type="$ctrl.viewType"></messages-view>
      

        </div>

        <!---Center  End -->

        <!---Calender Veiw start-->
       
      </div>
    </div>
  </div>
</div>