<div class="page-content">
   <div class="content">
      <div class="row">
         <div class="col-md-3 col-lg-3 col-xs-12 col-sm-4 p-r-0">
            <search-fields load-type="ctrl.loadUserStatusType" get-fields="ctrl.searchfields(fields)"></search-fields>
            <!-- <div class="grid simple mail-msg">
               <div class="grid-title no-border">
                  <h4 class="bold">User Status List</h4>
               </div>
               <div class="grid-body no-border pro-bord">
                  <div class="panel-group" >
                     <div class="list-group"> 
 <a ng-repeat="(key,value) in ctrl.userStatusList" ng-if="key!=='_id'" ng-click="ctrl.setUserType(key)" ng-class="ctrl.activeClass(key)"  class="cursorpointer list-group-item "> {{key | translate}} <span class="badge">{{value}}</span></a>
                      

                     </div>
                  </div>
               </div>
            </div> -->
            <search-by-id></search-by-id>
         </div>
         <div class="col-md-9 col-lg-9 col-xs-12 col-sm-8 " >
            <div class="col-md-12 no-padding ">
              
               <user-view-directive fields="ctrl.fields" ng-show="!ctrl.isEditUser"></user-view-directive>
               <uib-tabset active="activeJustified" justified="true" ng-if="ctrl.isEditUser">
    <uib-tab index="0" heading="{{'Edit Profile' | translate}}({{ctrl.editUserId}})">

            
                
                 <div class="reg-sec" style="padding:25px" >
                    <register-form is-admin="true" is-edit="ctrl.editUserId" ></register-form>
                    <basic-info user-id="ctrl.editUserId" is-moreinfo-edit="true" is-admin="true" ></basic-info>
                 </div>
           

    </uib-tab>
   
  </uib-tabset>
            </div>
         </div>
      </div>
   </div>
</div>
<style>

  .nav-justified > .active {
    
    margin: 0px;
    margin-bottom: 0px;
}
.nav-justified > li.active a {
    background-color: #33cccc;
    color: #fff;
    font-size: 18px;
    color: #fff;
    margin: 7px;
    padding: 10px 13px;
    font-weight: normal;
}
</style>