masonry-wall {
  display: block;
  width: 101%;
  margin-left: -1rem;
  margin-bottom: 4rem;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/* ---- grid-item ---- */

.masonry-brick--sizer,
.masonry-brick {
  width: 49%;

  @include media-query(xs) {
    width: 100%;
  }
}

.masonry-brick--gutter {
  width: 2%;
}

masonry-brick,
.masonry-brick {
  min-height: 200px;
  background-color: white;
  border-top: 1px solid $landing-green;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-block;

  @include box-shadow(1px, 2px, 2px, $landing-marketing-shadow);

  &__header {
    padding: 1.5rem 2.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5rem solid $landing-teal;
    text-transform: uppercase;
  }
  &__heading {
    display: flex;
    position: relative;
  }
  &__heading-action {
    display: flex;
    position: relative;

    & button {
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
    }

    & icon > svg {
      width: 20px;
      height: 20px;
    }
  }
  &__body {
    position: relative;
    padding: 2.1rem;
  }
}

.masonry-brick--tall {
  min-height: 400px;
}
