//@font-face {
//  font-family: 'ProximaNova';
//  src: url('#{$webfont-path}/proximanova-reg-webfont.eot');
//  src: url('#{$webfont-path}/proximanova-reg-webfont.eot?iefix') format('eot'),
//  url('#{$webfont-path}/proximanova-reg-webfont.woff') format('woff'),
//  url('#{$webfont-path}/proximanova-reg-webfont.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'ProximaNovaSemiBold';
//  src: url('#{$webfont-path}/proximanova-semibold-webfont.eot');
//  src: url('#{$webfont-path}/proximanova-semibold-webfont.eot?iefix') format('eot'),
//  url('#{$webfont-path}/proximanova-semibold-webfont.woff') format('woff'),
//  url('#{$webfont-path}/proximanova-semibold-webfont.ttf') format('truetype');
//  font-style: normal;
//}

* {
  font-size: 1.6rem;
}

%alpha {
  line-height: 3.6rem;
  font-size: 3rem;
}

%beta {
  line-height: $gutter;
  font-size: 2rem;
}

%gamma {
  line-height: $gutter;
  font-size: 1.8rem;
}

%delta {
  line-height: 1;
  font-size: 1.4rem;
}

%epsilon {
  font-size: 1.6rem;
}

%zeta {
  font-size: 1.2rem;
}

h1, h1 * {
  @extend %alpha;
}

h2, h2 * {
  @extend %beta;
}

h3, h3 * {
  @extend %gamma;
}

h4, h4 * {
  @extend %delta;
}

h5, h5 * {
  @extend %epsilon;
}

h6, h6 * {
  @extend %zeta;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}