<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

  <div class="clearfix"></div>
  <div class="content">



    <div class="row">

      <!------------------------ Left Strat -------------------------->
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-4 p-r-0">
        <complete-your-profile profile-type="myprofile" user-id="login_user_id"></complete-your-profile>
        <div class="grid simple  searchdhole all-photos">
          <div class=" pref-title no-border">
            <h4 class="">Photos</h4>


          </div>
          <div class="grid-body  no-border">
            <div class="hr-line"> </div>


            <div class="row-fluid">
              <div class="col-lg-3 no-padding">
                <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=239" data-littlelightbox-group="gallery" title=""><img src="https://unsplash.it/800/600?image=239" alt="Flying is life" /></a>
              </div>
              <div class="col-lg-3 no-padding"> <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=227" data-littlelightbox-group="gallery"
                  title=""><img src="https://unsplash.it/800/600?image=227" alt="Life is like climbing a mountain" /></a></div>

              <div class="col-lg-3 no-padding"> <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=193" data-littlelightbox-group="gallery"
                  title=""><img src="https://unsplash.it/800/600?image=193" alt="Skiing, flying in white" /></a></div>
              <div class="col-lg-3 no-padding"> <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=193" data-littlelightbox-group="gallery"
                  title=""><img src="https://unsplash.it/800/600?image=193" alt="Skiing, flying in white" /></a></div>
            </div>

            <div class="row-fluid">
              <div class="col-lg-3 no-padding">
                <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=239" data-littlelightbox-group="gallery" title=""><img src="https://unsplash.it/800/600?image=239" alt="Flying is life" /></a>
              </div>
              <div class="col-lg-3 no-padding"> <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=227" data-littlelightbox-group="gallery"
                  title=""><img src="https://unsplash.it/800/600?image=227" alt="Life is like climbing a mountain" /></a></div>

              <div class="col-lg-3 no-padding"> <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=193" data-littlelightbox-group="gallery"
                  title=""><img src="https://unsplash.it/800/600?image=193" alt="Skiing, flying in white" /></a></div>
              <div class="col-lg-3 no-padding"> <a class="lightbox thumbnail" href="https://unsplash.it/800/600?image=193" data-littlelightbox-group="gallery"
                  title=""><img src="https://unsplash.it/800/600?image=193" alt="Skiing, flying in white" /></a></div>
            </div>

          </div>
        </div>
        <my-pocket></my-pocket>




        <!--- messages accordian Start-->

        <messages-box></messages-box>




      </div>
      <!------------------------------------------------ profile End ------------------------------------------------>
      <!------------------------------------------------ you maylike Strat ------------------------------------------------>
      <div class="col-md-9 col-lg-9 col-xs-12 col-sm-8 ">
        <div class="col-md-8 no-padding ">
          <div class="grid simple profile-detail photo-details">
            <div class="prof-title no-border">
              <h3 class="">Upload Your Photo To Get More Response !</h3>
              <div class="clearfix"></div>
              <h4>Upload Your Profile Photo, Your Album</h4>
              <div class="hr-line"> </div>
            </div>
            <div class="grid-body  p-detl-body no-border">

             
             <label ng-repeat="class in ['fade', 'fadeup', 'zoom', 'slide', 'pop', 'revolve']">
			<input type="radio" name="imgAnim" ng-model="conf.imgAnim" ng-value="class"/> {{class}}
		</label>
              <button ng-click="openGallery()">Open Gallery</button>
              <button ng-click="addPhoto()">Add Photo</button>
              <button ng-click="removePhoto()">Remove Photo</button>

              <br/>
              <br/>

              <button ng-click="toggleThumbnails()">Enable/Disable Thumbnails</button>
              <button ng-click="toggleInline()">Modal/Inline Gallery</button>
              <button ng-click="toggleBubbles()">{{(bubbles) ? 'Switch off' : 'Switch on'}} bubbles</button>
              <button ng-click="toggleImgBubbles()">{{(imgBubbles) ? 'Switch off' : 'Switch on'}} Image bubbles</button>
              <ng-image-gallery 
              images="images" 
              methods="methods" 
              conf="conf" 
              thumbnails="thumbnails" 
              thumb-size="thumbSize" 
              inline="inline"
              bubbles="bubbles" 
              bubble-size="bubbleSize" 
              img-bubbles="imgBubbles" 
              bg-close="bgClose" 
              piracy="true" 
              on-open="opened();"
              on-close="closed();" 
              on-delete="delete(img, cb)" 
              bg-close="false">
              </ng-image-gallery>
              <div class="row">

                <div class="col-md-4 p-r-0 ">
                  <h3 class="pic-head"> Display Pic</h3>

                  <div id="image-preview">
                    <label for="image-upload" id="image-label"><i class="fa fa-camera-retro" aria-hidden="true"></i></label>
                    <input type="file" name="image" id="image-upload" />
                  </div>

                </div>
                <div class="col-md-8 p-r-0 aulbum-head">
                  <h3 class="pic-head">Album</h3>
                  <div class="row-fluid">

                    <div class="col-md-3 ">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                  </div>
                  <div class="p-t-10"></div>
                  <div class="row-fluid">

                    <div class="col-md-3 ">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div id="image-preview">
                        <label for="image-upload" id="image-label"> <i class="fa fa-camera-retro" aria-hidden="true"></i>
</label>
                        <input type="file" name="image" id="image-upload" />
                      </div>
                    </div>
                  </div>



                </div>



              </div>
              <div class="row upld-total">

                <div class="col-md-12">
                  <h3 class="pull-left upload-text"> Upload Photos From </h3>

                  <div class="clearfix"></div>
                  <div class="row">

                    <div class="box js col-lg-5">
                      <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"
                        multiple />
                      <label for="file-1"><i class="fa fa-desktop" aria-hidden="true"></i>
 <span> My Computer</span></label>
                    </div>
                    <div class="col-lg-1 no-padding text-center">
                      <h3>or</h3>
                    </div>
                    <div class="col-lg-5">
                      <div class="box face-b">

                        <a href="https://www.facebook.com/" target="blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i>


            <span>Facebook </span>
          </a>

                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-12 p-note-total">

                  <h5 class="photo-note"> Please Note</h5>

                  <ol>
                    <li>You can upload 25 Photos to Your Profile </li>
                    <li> Photo must be in JPG, GIF or PNG / Bmp format</li>
                    <li> Photo size must be below 4MB </li>
                    <li>can’t Upload Picture? Watsapp to 900010000 with your Profile ID & We will </li>
                    <li>Upload then instantly </li>
                    <li>Photos get activated in one hour </li>



                  </ol>


                  <div class="clearfix"></div>

                  <h4>Other Ways to Upload Your Photos </h4>
                  <ol>
                    <li>Whatsap your photo to +91 9002010088 and mention your Profile ID</li>
                    <li>Send Email to dholbaaje </li>
                    <li>
                      Email your photos to dholbaaje@dholbaaje.commention your profile ID, Name, Mobile Number in the mail Photo must be in JPG,
                      GIF or PNG / Bmp format</li>




                  </ol>





                </div>


              </div>
              <div class="row">

                <div class="col-lg-5">
                  <h5 class="approve-head"> <span> <img src="assets/img/right.png" width="30px"></span> Approved Photos </h5>

                  <div class="clearfix"></div>
                  <div class=" approved-total">
                    <div class="row-fluid">
                      <div class="col-lg-6  pic-type"> <img src="assets/img/f3.jpg" width="100%" /></div>
                      <div class="col-lg-6  pic-type"> <img src="assets/img/f2.jpg" width="100%" /></div>
                    </div>

                  </div>

                </div>
                <div class="col-lg-7">
                  <h5 class="approve-head"> <span> <img src="assets/img/close.png" width="30px"></span> Disapprove Photos </h5>

                  <div class="clearfix"></div>
                  <div class=" approved-total">
                    <div class="row-fluid">
                      <div class="col-lg-4  pic-type"> <img src="assets/img/f3.jpg" width="100%" /></div>
                      <div class="col-lg-4  pic-type"> <img src="assets/img/f3.jpg" width="100%" /></div>
                      <div class="col-lg-4  pic-type"> <img src="assets/img/f3.jpg" width="100%" /></div>
                    </div>

                  </div>
                </div>
              </div>

              <p class="photo-info"> Need More Information? <a href="#"> Photo Guidelines  </a> | <a href="#"> Faq List </a></p>

            </div>
            <!----------------profile Detials End---------------->


          </div>


        </div>

        <!---------------------------------------------Center  End ------------------------------------------>

        <!---------------------------------------------Calender Veiw start ---------------------------------->
        <div class="col-md-4 col-lg-4 col-sm-12  col-xs-12  ">




          <div class="grid simple  searchdhole">
            <div class=" pref-title no-border">
              <h4 class="">Photo Settings</h4>


            </div>
            <div class="grid-body  no-border">
              <div class="hr-line"> </div>

              <div class="row">
                <div class="col-xs-12">

                  <div class="row-fluid contact-list">

                    <div class="checkbox check-default">
                      <div class="list-search">
                        <div class="search-child">
                          <input id="checkbox1" value="1" type="checkbox">
                          <label for="checkbox1">Visible To ALL</label>
                        </div>
                      </div>
                      <div class="list-search">
                        <div class="search-child">

                          <input id="checkbox2" value="1" type="checkbox">
                          <label for="checkbox2"> Visible Only on invitation </label>


                        </div>
                      </div>





                    </div>

                  </div>



                </div>

              </div>
              <div class=" searchbtn">
                <input type="button" value="Save" class="" />

              </div>
            </div>
          </div>


          <div class="grid simple  searchdhole">
            <div class=" pref-title no-border">
              <h4 class="">Search By Profile ID</h4>


            </div>
            <div class="grid-body  no-border">
              <div class="hr-line"> </div>

              <div class="row">
                <div class="col-xs-12">

                  <h5 class="searchid"> Profile Id</h5>

                  <div class="insearc">
                    <Input type="text" class="" placeholder="Eg:D123456" /> </div>
                  <div class=" searchbtn">
                    <input type="button" value="Search" class="" />

                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="grid simple no-padding">

            <div class="grid-body no-border no-padding">

              <div class="ad-here">
                <img src="assets/img/266x169.jpg" />

              </div>
            </div>
          </div>
          <div class="grid simple no-padding">

            <div class="grid-body no-border no-padding">

              <div class="ad-here">
                <img src="assets/img/266x169.jpg" />

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>