<section id="patientReminders" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h1>
                <a href="javascript: window.history.back();"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
                Patient Reminders
            </h1>
            <div class="page-main-content">
                <form name="patientRemindersForm" novalidate>
                    <fieldset>
                        <div class="form-group col-xs-12">
                            <div class="alert"
                                 ng-class="{'alert-danger': reminder.dismissed, 'alert-success': reminder.done, 'alert-info': !reminder.dismissed && !reminder.done}"
                                 role="alert"
                                 ng-repeat="reminder in ctrl.patientReminders track by $index">
                                {{reminder.name}} at {{reminder.time}}
                                <span class="pull-right">
                            <i ng-click="ctrl.toggleReminder(reminder)" class="fa fa-check-circle"
                               ng-class="{'active-icon': reminder.done, 'disabled-icon': !reminder.done}"></i>
                                    <!--<i ng-click="ctrl.dismissReminder(reminder)" class="pull-right fa fa-icon-remove-sign"></i>-->
                            <i ng-if="!reminder.done" ng-click="ctrl.dismissReminder(reminder)"
                               class="remove-icon fa fa-times-circle-o" aria-hidden="true"></i>
                            </span>
                            </div>                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>