<div class="row-fluid">
    <ng-image-gallery
    images="$ctrl.images" 
    methods="$ctrl.methods" 
    conf="$ctrl.conf" 
    thumbnails="$ctrl.thumbnails" 
    thumb-size="$ctrl.thumbSize" 
    inline="$ctrl.inline"
    bubbles="$ctrl.bubbles" 
    bubble-size="$ctrl.bubbleSize" 
    img-bubbles="$ctrl.imgBubbles" 
    bg-close="$ctrl.bgClose" 
    piracy="true" 
    on-open="$ctrl.opened();"
    on-close="$ctrl.closed();" 
    on-delete="$ctrl.delete(img, cb)" 
    bg-close="false">
    </ng-image-gallery>
  
  </div>
  