<div class="grid simple  searchdhole">
              <div class=" pref-title no-border">
                <h4 class=""> Basic Search</h4>

               
              </div>
              <div class="grid-body  no-border">
                <div class="hr-line"> </div>
               
                    <div class="row">
                      <div class="col-xs-12">

                <uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="basic.status.open">
              <uib-accordion-heading>
                   <div class="panel-heading">
                      <a>
                           Basic Details
                        </a>
                         <i class="pull-right glyphicon" ng-class="{'fa fa-minus-circle': basic.status.open, 'fa fa-plus-circle': !basic.status.open}"></i>
                 
                      
                        </div>  
             </uib-accordion-heading>
                    
                       <div class="form-group searc-p" >
                          <label class="form-label">Age</label>                      
                          <div class="controls">
                            <select class="sear-drop minimal">
                              <option>21 </option>
                              <option>22 </option>
                              <option>23 </option>
                              <option>24 </option>
                              <option> 25</option>
                              <option> 26</option>
                            </select>
                             <span class="select-half"> To </span>
                            <select class="sear-drop minimal">
                              <option>27 </option>
                              <option> 28</option>
                              <option> 29 </option>
                              <option>30 </option>
                              <option> 31</option>
                              <option> 32</option>
                            </select>
                          </div>
                        </div>
            
                             
                              <div class="form-group searc-p" >
                          <label class="form-label">Height</label>                      
                          <div class="controls">
                            <select class="sear-drop minimal">
                              <option>5 ft 3 in</option>
                              <option>5 ft 4 in</option>
                              <option>5 ft 5 in </option>
                              <option>5 ft 6 in</option>
                              <option>5 ft 7 in</option>
                              <option>5 ft 8 in</option>
                            </select>
                             <span class="select-half"> To </span>
                            <select class="sear-drop minimal">
                              <option>5 ft 9 in </option>
                              <option> 5 ft 10 in </option>
                              <option> 5 ft 11 in </option>
                              <option> 5 ft 12 in </option>
                          
                            </select>
                          </div>
                        </div>
                             <div class="form-group searc-p" >
                              <label class="form-label">Marital Status</label>                      
                                <div sclass="controls">
                                  <select class="minimal">
                                    <option> Married </option>
                                    <option> Un Married </option>
                                  </select>                        
                             </div>
                             </div>
                             <div class="form-group searc-p" >
                              <label class="form-label">Mother Tounge</label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> Telugu </option>
                                    <option> Hindi</option>
                                    <option> Tamil</option>
                                    <option> Kannada</option>
                                  </select>                        
                             </div>
                             </div>
                             <div class="form-group searc-p" >
                              <label class="form-label">Caste</label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> Kapu </option>
                                    <option> Reddy </option>
                                  </select>                        
                             </div>
                             </div>
                             <div class="form-group searc-p" >
                              <label class="form-label">Contry Living IN </label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> India </option>
                                    <option> Aus </option>
                                    <option> America</option>
                                  </select>                        
                             </div>
                        </div>
                         <div class="form-group searc-p" >
                              <label class="form-label">State Living IN </label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> Andhra pradesh </option>
                                    <option> Telangana </option>
                                  </select>                        
                             </div>
                        </div>
                        <div class="form-group searc-p" >
                              <label class="form-label">City Living IN </label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> Hyderabad </option>
                                    <option> Warangal </option>
                                  </select>                        
                             </div>
                        </div>
                       
                        <div class="form-group searc-p" >
                              <label class="form-label">Expectation </label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> Hyderabad </option>
                                    <option> Warangal </option>
                                  </select>                        
                             </div>
                        </div>
                         <div class="form-group searc-p" >
                              <label class="form-label">Physical Status </label>                      
                                      <div class="radio">
                        <input id="male" type="radio" name="gender" value="Normal" >
                        <label for="male">Normal</label>
                        <input id="female" type="radio" name="gender" value="physically challenged">
                        <label for="female">physically challenged</label>
                      </div>
                        </div>
                        <div class="form-group searc-p" >
                              <label class="form-label">Horoscope Detials </label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> ----- </option>
                                    <option> ------ </option>
                                  </select>                        
                             </div>
                        </div>
                        <div class="form-group searc-p" >
                              <label class="form-label">Heighest  Education</label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> Masters </option>
                                    <option> M-tech</option>
                                  </select>                        
                             </div>
                        </div>
                        <div class="form-group searc-p" >
                              <label class="form-label">Occupation</label>                      
                                <div class="controls">
                                  <select class="minimal">
                                    <option> IT </option>
                                    <option> Business</option>
                                  </select>                        
                             </div>
                        </div>
                        
                        

 

            
                              </div>
             
                    </div>
        
                    
                </uib-accordion>
                <div class=" searchbtn">
                            <input type="button" value="Search" class=""  />

                          </div>
            </div>
                    
                    </div>
                </div>
              </div> 