<div class="grid simple main-profile my-profile animated rollIn" ng-if="completeYourProfile.profileType==='myprofile'">
  <div class="grid-title no-border">
    <h4 class="bold">{{completeYourProfile.user.first_name}} <span class="normal-text">({{completeYourProfile.user.user_id}})</span></h4>
  </div>
  <div class="grid-body no-border pro-bord">
    <div class="row">
      <div class="no-padding">
        <div class="user-profile-pic ">
          <img water-mark="completeYourProfile.pic" alt="" width="91" height="88" >
        </div>
      </div>

    </div>
  </div>
  <div class=" p-setting-list">
    <div class="no-padding addbtn-list">
      <ul>
        <li ng-repeat="ac in completeYourProfile.ACTIONS_USER_BIG" ng-click="completeYourProfile.goToUserAction(ac)"><a class="cursorpointer pro-btn">{{ac | translate}}</a></li>

      </ul>
    </div>

  </div>
  <div class="profile-Completion">


    <div class="progress-prof ">
      <div class="row">
        <div class="col-md-12 no-padding">
          <h4 class="large-text">{{'COMPLETE_YOUR_PROFILE' | translate}}</h4>
          <div class="progress transparent progress-small no-radius no-margin">
            <div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="100%" ng-style="completeYourProfile.ProfilePercentage"></div>
          </div>
          <div class="pull-right">
            <div class="details-status">
              <span class="animate-number" data-value="86" data-animation-duration="560">{{completeYourProfile.ProfilePercentage.width}} %</span>
            </div>
          </div>
          <p class="p-t-4 last-edit">Last Edited On :<span class=""><date-parse date="completeYourProfile.LastUpdateDate"></date-parse> </span></p>
          <a ui-sref="root.editprofile" style="text-decoration:underline" ng-if="completeYourProfile.ProfilePercentage.width < 100">Click here to complete your profile</a>
          <p class="clearfix"></p>
          <!--<div class="percent-total">
            <ul class="">
              completeYourProfile.user.basicinfos[0].updated_on ? completeYourProfile.user.basicinfos[0].updated_on : completeYourProfile.user.basicinfos[0].created_on
              <li> <a href="#"><i class="fa fa-comments fa-fw" aria-hidden="true"></i> Express Yourself   <span class="pull-right">+ 25%</span> </a></li>
              <li> <a href="#"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Your Appearence   <span class="pull-right">+ 25%</span> </a></li>
              <li> <a href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Occupation & Education   <span class="pull-right">+ 25%</span> </a></li>
              <li><a href="#"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i> Upload Photos  <span class="pull-right">+ 25%</span> </a></li>

            </ul>


          </div>-->




        </div>
      </div>

    </div>
  </div>
</div>
<div class="grid simple main-profile animated rollIn" ng-if="completeYourProfile.profileType=='dashboard'">
  <div class="grid-title no-border">

    <h4 class="bold">{{completeYourProfile.user.first_name}} <span class="normal-text">({{completeYourProfile.user.user_id}})</span></h4>
  </div>
  <div class="grid-body no-border pro-bord">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="pull-left no-padding">
            <div class="user-profile-pic pull-left">
              <img water-mark="completeYourProfile.pic" alt="" width="91" height="88">
            </div>
          </div>
          <div class="no-padding addbtn-list">
            <ul>
              <!--<li ng-repeat="ac in completeYourProfile.ACTIONS_USER"></li>-->
              <li ng-repeat="ac in completeYourProfile.ACTIONS_USER" ng-click="completeYourProfile.goToUserAction(ac)"><input class="pro-btn" type="button" value="{{ac | translate}}"></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-title no-border">
    <h4 class="large-text">{{'COMPLETE_YOUR_PROFILE' | translate}}</h4>
  </div>
  <div class="grid-body no-border  progress-prof  pro-bord">
    <div class="row">
      <div class="col-md-12">
        <a class="tip" data-toggle="tooltip" title="Edit Profile">
          <div class="progress transparent progress-small no-radius no-margin">
            <div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="100%" ng-style="completeYourProfile.ProfilePercentage"></div>
          </div>


          <div class="pull-right">
            <div class="details-status">
              <span class="animate-number" data-value="9" data-animation-duration="560">{{completeYourProfile.ProfilePercentage.width}} %</span>
            </div>
          </div>
          <p class="p-t-4">Last Updated :<span class=""> <date-parse date="completeYourProfile.LastUpdateDate"></date-parse>  </span></p>
        </a>
        <a ui-sref="root.editprofile" style="text-decoration:underline" ng-if="100>completeYourProfile.ProfilePercentage.width < 100">Click here to complete your profile</a>
        <p class="clearfix"></p>
      </div>
    </div>
  </div>
  <!--<div class="grid-body no-border  progress-prof ">
         
              <div class="row">              
                <div class="col-md-12">                
                  <div id="carousel">
                    <div class="btn-bar">
                      <div id="buttons">
                        <i  class="fa"> <a id="prev" href="#">  &#xf137;</a> </i>
                        <i  class="fa"> <a id="next" href="#">  &#xf138;</a> </i> 
                      </div>
                      <div id="slides">
                        <ul>
                          <li class="slide">
                            <div class="quoteContainer">
                              <div class="pull-left img-box" > <img  src="assets/img/icon/upadate.png"> </div>
                                <div class="pull-left p-box" >
                                  <p class="quote-phrase">  Upload a Gov issued/approved ID Proof to Unlock  <a href="#">Click Here </a></p>
                                </div>
                            </div>
                          </li>
                          <li class="slide">
                            <div class="quoteContainer">
                              <div class="pull-left img-box" > <img  src="assets/img/icon/upadate.png"> </div>
                              <div class="pull-left p-box" >
                                 <p class="quote-phrase">  Upload a Gov issued/approved ID Proof to Unlock  <a href="#">Click Here </a></p>
                              </div>
                            </div>
                          </li>
                          <li class="slide">
                            <div class="quoteContainer">
                              <div class="pull-left img-box" > <img  src="assets/img/icon/upadate.png"> </div>
                              <div class="pull-left p-box" >
                                <p class="quote-phrase"> Upload a Gov issued/approved ID Proof to Unlock  <a href="#">Click Here </a></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

              </div>
            </div>
            </div>
            </div>    -->
</div>