<div class="grid simple dholebaaje-msg animated rotateIn">
  <div class="grid-title no-border">
    <h4 class="bold">{{'MESSAGES' | translate}}</h4>
  </div>
  <div class="grid-body no-border pro-bord ">

    <uib-accordion>
      <div uib-accordion-group class="panel-default" is-open="$ctrl.status.open">
        <uib-accordion-heading>
          <div class="panel-heading">
            <a>
              {{'MAIL' | translate}}
            </a>
            <i class="pull-right glyphicon" ng-class="{'fa fa-minus-circle': $ctrl.status.open, 'fa fa-plus-circle': !$ctrl.status.open}"></i>


          </div>
        </uib-accordion-heading>

        <div class="panel-body">
          <div class="list-group">
            <a ng-click="$ctrl.composemail()" class="hand list-group-item panel-compose ">{{'COMPOSE_MAIL' | translate}}</a>
            <a class="list-group-item disabled">{{'INBOX' | translate}}
              <span class="badge">{{$ctrl.msgCounts.INBOX}}</span>
            </a>
            <a class="list-group-item">{{'SENT_MAIL' | translate}}
              <span class="badge">{{$ctrl.msgCounts.SENT}}</span>
            </a>

          </div>
        </div>

      </div>
      <div ng-repeat="req in $ctrl.accRequests" uib-accordion-group class="panel-default" is-open="statusp.open" ng-click="$ctrl.reqType(statusp.open,req.type)">
        <uib-accordion-heading>
          <div class="panel-heading">

            <a>
              {{req.transKey | translate}}
            </a>
            <i class="pull-right glyphicon" ng-class="{'fa fa-minus-circle': statusp.open, 'fa fa-plus-circle': !statusp.open}"></i>

          </div>
        </uib-accordion-heading>

        <div class="panel-body">
          <div class="list-group">
            <a ng-class="{'adisabled': $ctrl.reqCounts.RECEIVED===0}" ng-click="$ctrl.goState($ctrl.reqCounts.RECEIVED,'RECEIVED',req.type)"
              class="hand list-group-item ">{{'RECEIVED' | translate}}
              <span class="badge">{{$ctrl.reqCounts.RECEIVED}}</span>
            </a>
            <a ng-class="{'adisabled': $ctrl.reqCounts.SENT===0}" ng-click="$ctrl.goState($ctrl.reqCounts.SENT,'SENT',req.type)" class="hand list-group-item">{{'SENT' | translate}}
              <span class="badge">{{$ctrl.reqCounts.SENT}}</span>
            </a>
            <a ng-class="{'adisabled': $ctrl.reqCounts.ACCEPTED===0}" ng-click="$ctrl.goState($ctrl.reqCounts.ACCEPTED,'ACCEPTED',req.type)"
              class="hand list-group-item">{{'ACCEPTED' | translate}}
              <span class="badge">{{$ctrl.reqCounts.ACCEPTED}}</span>
            </a>
            <a ng-class="{'adisabled': $ctrl.reqCounts.REJECTED===0}" ng-click="$ctrl.goState($ctrl.reqCounts.REJECTED,'REJECTED',req.type)"
              class="hand list-group-item">{{'REJECTED' | translate}}
              <span class="badge">{{$ctrl.reqCounts.REJECTED}}</span>
            </a>
            <a ng-class="{'adisabled': $ctrl.reqCounts.PENDING===0}" ng-click="$ctrl.goState($ctrl.reqCounts.PENDING,'PENDING',req.type)"
              class="hand list-group-item">{{'PENDING' | translate}}
              <span class="badge">{{$ctrl.reqCounts.PENDING}}</span>
            </a>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>
</div>