<div class="grid simple dholebaaje-msg animated rotateIn">
            <div class="grid-title no-border">
              <h4 class="bold">Messages</h4>
            </div>
            <div class="grid-body no-border pro-bord ">

                <uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="status.open">
              <uib-accordion-heading>
                   <div class="panel-heading">
                      <a>
                          Mail
                        </a>
                         <i class="pull-right glyphicon" ng-class="{'fa fa-minus-circle': status.open, 'fa fa-plus-circle': !status.open}"></i>
                 
                      
                        </div>  
             </uib-accordion-heading>
                    
                      <div class="panel-body">
                        <div class="list-group">
                          <a href="compose.html" class="list-group-item panel-compose ">Compose Mail</a>
                          <a href="inbox.html" class="list-group-item disabled">Inbox<span class="badge">12</span></a>
                          <a href="sent.html" class="list-group-item">Sent Mail <span class="badge">12</span></a>
                          <a href="block.html" class="list-group-item">Blcok <span class="badge">12</span></a>
                          <a href="reportabuse.html" class="list-group-item">Report Abuse <span class="badge">12</span></a>
                          <a href="cancelled.html" class="list-group-item">Cancelled<span class="badge">12</span></a>
                        </div>
                      </div>
             
                    </div>
        <div uib-accordion-group class="panel-default" is-open="statusp.open">
              <uib-accordion-heading>
                   <div class="panel-heading">
                     
                        <a >
                            Photo Request
                        </a>
                       <i class="pull-right glyphicon" ng-class="{'fa fa-minus-circle': statusp.open, 'fa fa-plus-circle': !statusp.open}"></i>
                 
                    </div>  
             </uib-accordion-heading>
                     
                        <div class="panel-body">
                        <div class="list-group">
                          <a href="recived-photo-request.html" class="list-group-item ">Recived <span class="badge">12</span></a>
                          <a href="sent-photo-request.html" class="list-group-item">Sent  <span class="badge">12</span></a>
                          <a href="accepted-photo-request.html" class="list-group-item">Accepted <span class="badge">12</span></a>
                          <a href="rejected-photo-request.html" class="list-group-item">Rejected <span class="badge">12</span></a>
                          <a href="Pending-photo-request.html" class="list-group-item">Pending<span class="badge">12</span></a>
                        </div>
                      </div>
                    </div>
                  

                      <div uib-accordion-group class="panel-default" is-open="statusm.open">
              <uib-accordion-heading>
                   <div class="panel-heading">
                     
                        <a >
                            Messages Request
                        </a>
                         <i class="pull-right glyphicon" ng-class="{'fa fa-minus-circle': statusm.open, 'fa fa-plus-circle': !statusm.open}"></i>
                 
                    </div>  
             </uib-accordion-heading>
                   
                       <div class="panel-body">
                        <div class="list-group">
                          <a href="recived-request.html" class="list-group-item ">Recived <span class="badge">12</span></a>
                          <a href="sent-request.html" class="list-group-item">Sent  <span class="badge">12</span></a>
                          <a href="accepted-request.html" class="list-group-item">Accepted <span class="badge">12</span></a>
                          <a href="rejected-request.html" class="list-group-item">Rejected <span class="badge">12</span></a>
                          <a href="Pending-request.html" class="list-group-item">Pending<span class="badge">12</span></a>
                        </div>
                      </div>
                    </div>
                  
                     <div uib-accordion-group class="panel-default" is-open="statusv.open">
              <uib-accordion-heading>
                   <div class="panel-heading">
                        <a >
                           Views
                        </a>
                         <i class="pull-right glyphicon" ng-class="{'fa fa-minus-circle': statusv.open, 'fa fa-plus-circle': !statusv.open}"></i>
                 
                     
                    </div>  
             </uib-accordion-heading>
                    
                      <div class="panel-body">
                        <div class="list-group">
                          <a href="my-profile-view.html" class="list-group-item disabled">My Profile<span class="badge">12</span></a>
                          <a href="my-photo-view.html" class="list-group-item">My Photo <span class="badge">12</span></a>
                          <a href="my-message-view.html" class="list-group-item">My Message<span class="badge">12</span></a>
                          
                        </div>
                      </div>
                    </div>
                    
                </uib-accordion>
            </div>
        </div>