<div class="grid simple  searchdhole">
              <div class=" pref-title no-border">
                <h4 class="">My Pocket</h4>

               
              </div>
              <div class="grid-body pocket-list  no-border">
                <div class="hr-line"> </div>
                  <ul class="">

                    <li><a href="profilevisitors.html"><i class="fa fa-caret-right" aria-hidden="true"></i>
  Profile Visitors </a> </li>
                    <li><a href="wishlist.html"> <i class="fa fa-caret-right" aria-hidden="true"></i>
 Wish List </a> </li>
                    <li><a href="searchhistory.html"><i class="fa fa-caret-right" aria-hidden="true"></i>
  Search history </a> </li>
                    <li><a href="receivedrequests.html"> <i class="fa fa-caret-right" aria-hidden="true"></i>
 Received Requests </a> </li>
                    <li><a href="inbox.html"> <i class="fa fa-caret-right" aria-hidden="true"></i>
 Inbox  </a> </li>
                    <li><a href="views.html"><i class="fa fa-caret-right" aria-hidden="true"></i>
  Views </a> </li>
                    <li><a href="help.html"> <i class="fa fa-caret-right" aria-hidden="true"></i>
 Help </a> </li>






                  </ul>
                  
                </div>
              </div> 