<div class="grid simple  searchdhole">
  <div class=" pref-title no-border">
    <h4 class="">My Pocket</h4>
  </div>
  <div class="grid-body pocket-list  no-border">
    <div class="hr-line"> </div>
    <ul>
      <li>
        <a ui-sref="root.visitor_profiles">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          Profile Visitors </a>
      </li>

      <li>
        <a ui-sref="root.search_history">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          Search history </a>
      </li>
      <li>
        <a ui-sref="root.message_request">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          Message Requests </a>
      </li>
      <li>
        <a ui-sref="root.photo_request">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          Photo Requests </a>
      </li>
      <li>
        <a ui-sref="root.contact_request">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          Contact Requests </a>
      </li>

      <li>
        <a>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          Help </a>
      </li>
    </ul>

  </div>
</div>