<div class="grid simple  searchdhole">
  <div class=" pref-title no-border">
    <h4 class="">{{'MY_POCKET'| translate}}</h4>
  </div>
  <div class="grid-body pocket-list  no-border">
    <div class="hr-line"> </div>
    <ul>
      <li>
        <a ui-sref="root.visitor_profiles">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{'PROFILE_VISITORS'| translate}}</a>
      </li>

      <li>
        <a ui-sref="root.search_history">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{'SEARCH_HISTORY'| translate}}</a>
      </li>
      <li>
        <a ui-sref="root.message_request">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{'MESSAGE_REQUEST'| translate}}</a>
      </li>
      <li>
        <a ui-sref="root.photo_request">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{'PHOTO_REQUEST'| translate}}</a>
      </li>
      <li>
        <a ui-sref="root.contact_request">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{'CONTACT_REQUEST'| translate}}</a>
      </li>

      <li>
        <a>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{'HELP'| translate}}</a>
      </li>
    </ul>

  </div>
</div>