<div class="grid simple prefered-total animated flip">
  <div class=" pref-title no-border">
    <h4 class="">{{title | translate}}</h4>

    <div class="vewall" ng-if="preferredMatchesBox.users.length>0">
        <input ui-sref="root.pre_matches({result:preferredMatchesBox.result})" class="pro-btn" type="button" value="{{'VIEW_ALL' | translate}}" >
     
    </div>
  </div>
  <div class="grid-body  no-border">
    <div class="hr-line"> </div>
    <div class="scroller" data-height="230px" ng-scrollbars ng-scrollbars-config="preferredMatchesBox.config">
      <div class="row">
        <noinformation type="PARTNER_PRE" ng-if="preferredMatchesBox.users.length===0"></noinformation>
        <div class="col-lg-6 col-md-6 col-sm-6 p-r-0" ng-repeat="preMatch in preferredMatchesBox.users">
          <user-profile type="MATCHESBOX" user="preMatch"></user-profile>

        </div>

      </div>

    </div>
    <!--end-->
  </div>
</div>