
          <div class="grid simple  searchdhole">
              <div class=" pref-title no-border">
                <h4 class="">{{'SEARCH_BY_PROFILE_ID' | translate}}</h4>

               
              </div>
              <div class="grid-body  no-border">
                <div class="hr-line"> </div>
               
                    <div class="row">
                      <div class="col-xs-12">
                      
                        <h5 class="searchid"> {{'PROFILE_ID'|translate}}</h5>

                          <div class="insearc"> <Input type="text" ng-model="searchValue" class="" placeholder="Eg:D123456" /> </div>
                          
                          <div class="searchbtn" ng-class="{'buttonDisabled':disabled()}" >
                            <input value="Search" ng-click="search()" ng-disabled="disabled()" class="" type="button">

                          </div>
                        </div>
                    
                    </div>
                </div>
              </div> 