<div class="basic-pro-detl">
    <!-- <p> <a href="#"> <i class="fa fa-eye" aria-hidden="true"></i> Preview Your Profile </a> </p> -->
    <div class="clearfix"></div>
    <a href="#" class="scrollup profile-up"><img src="assets/img/top-scroll.png" width="30px;"></a>
    <div class="input-group send-prof-all">
        <input type="text" class="form-control" placeholder="Profile Page : http://www.dholebaaje.com/myprofile.html/DH123456" aria-describedby="basic-addon2"> <span class="input-group-addon" id="basic-addon2" send-p-link> <a ng-click="$ctrl.shareProBox()" class="hand"> <i class="fa fa-share-square-o" aria-hidden="true"></i>{{'SEND_PROFILE_LINK'| translate}}</a></span>
      
    </div>
</div>