 <ul class="nav nav-tabs " id="tab-01">
            <li  ng-repeat="tab in userActionsTabs.tabs" ng-class="tab.active?'active':''">
                <a style="cursor:pointer" ng-click="userActionsTabs.loadTab($index)">{{tab.name}} <span class="badge badge-important animated bounceIn" id="chat-message-count">{{tab.count}}</span>
                </a>
            </li>
          
          </ul>
          <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1hellowWorld">
              <div class="row column-seperation">
                <div class="col-md-12 col-lg-12 ">
                  <ul class="prof-list">
             
                    <div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-r-0" >
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>

                    
                  </ul>
                </div>

              </div>
            </div>
            <div class="tab-pane" id="tab1FollowUs">
              <div class="row">
                <div class="col-md-12">
                  <ul class="prof-list">
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0">
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>

                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab1Inspire">
               <div class="row column-seperation">
                <div class="col-md-12">
                  <ul class="prof-list">
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0">
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>

                    
                  </ul>
                </div>

              </div>
            </div>

            <div class="tab-pane" id="tab1viewed">
               <div class="row column-seperation">
                <div class="col-md-12">
                  <ul class="prof-list">
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0">
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>

                    
                  </ul>
                </div>

              </div>
            </div>
            <div class="tab-pane" id="tab1recently">
               <div class="row column-seperation">
                <div class="col-md-12">
                  <ul class="prof-list">
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0">
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-odd">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>
                    <div class="col-lg-6 p-r-0" >
                      <li class="profile-even">        
                     
                          <a href="#">
                            <div class="pull-left no-padding">
                              <div class="user-profile-pic">  
                                  <img src="assets/img/profiles/dharma2x.jpg" alt="" width="78" height="78" />  
                              </div>
                            </div>
                            <div class="pull-left no-padding">
                                <P class="view-name"> Krishna Juluri, <span>30 Yrs. 5 Ft 8 in </span>   </P>
                                <P class="view-name-sub">27, 5' 8", Hindu, Kapu, Telugu <br>
                                    Marketing Professional, Vishakapatam, India</P>
                            </div>
                            </a>
                        
                        </li>
                    </div>

                    
                  </ul>
                </div>

              </div>
            </div>
          </div>