<ul class="nav nav-tabs " id="tab-01">
    <li ng-repeat="tab in userActionsTabs.tabs" ng-class="tab.active?'active':''">
        <a style="cursor:pointer" ng-click="userActionsTabs.loadTab($index,tab.type)">{{tab.name}}
            <span ng-if="tab.active" class="badge badge-important animated bounceIn" id="chat-message-count">{{userActionsTabs.count}}</span>
        </a>
    </li>

</ul>
<div class="tools">
    <a class="collapse"></a>
    <a href="#grid-config" data-toggle="modal" class="config"></a>
    <a class="reload"></a>
    <a class="remove"></a>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="tab1hellowWorld">
        <div class="row column-seperation">
            <div class="col-md-12 col-lg-12 ">
                <noinformation type="{{userActionsTabs.loadtype}}" ng-if="userActionsTabs.users.length===0"></noinformation>
                <ul class="prof-list">

                    <div class="col-lg-6 col-md-6 col-sm-6 p-r-0" ng-repeat="user in userActionsTabs.users">
                        <user-profile type="TABBOX" user="user"></user-profile>

                    </div>



                </ul>
            </div>

        </div>
        
        <div class="footer" ng-if="userActionsTabs.users.length>0 && userActionsTabs.count>10"><input ng-click="userActionsTabs.viewAll()" class="pro-btn pull-right" type="button" value="{{'VIEW_ALL' | translate}}" ></div>
        <p class="clearfix"></p>
    </div>


</div>