<section id="addPatientToNetwork" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 form-content">
            <h2>Add New Patient Network</h2>
            <form name="addPatientToNetwork" novalidate>
                <fieldset>
                    <p class="form-text text-muted">
                        Please enter either Email or Phone to add new Patients.
                    </p>
                    <div ng-repeat="patientNetwork in ctrl.newPatientNetworks track by $index" class="row">
                        <div class="form-group col-xs-6"
                             ng-class="{'has-error' : patientNetwork.email.$dirty && !addPatient.email.$valid}">
                            <input class="form-control" id="email{{$index}}" name="email{{$index}}" autocomplete="off"
                                   ng-pattern="/^[A-Za-z0-9-_]+(\.[A-Za-z0-9-_]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)+$/"
                                   autocomplete="off" required placeholder="Email Address" ng-model="patientNetwork.email"/>
                            <label for="email{{$index}}">Email Address</label>
                            <span class="error-msg">Please enter a valid email address.</span>
                        </div>
                        <div class="form-group col-xs-5">
                            <input id="phone{{$index}}" class="form-control" type="text"
                                   name="phone{{$index}}" mask="(999)-999-9999"
                                   ng-model="patientNetwork.phone" placeholder="Phone Number"/>
                            <label for="phone{{$index}}">Phone Number</label>
                        </div>
                        <div class="form-group col-xs-1" ng-if="ctrl.newPatientNetworks.length-1">
                            <a href="javascript: void(0);" class="remove-patient" ng-click="ctrl.removePatientNetwork(patientNetwork)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <a href="javascript: void(0);" class="btn btn-link" ng-click="ctrl.createNewPatientNetwork()">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add Patient Network
                        </a>
                    </div>
                    <div class="actions row">
                        <div class="col-xs-6">
                            <a ui-sref="root.patient" class="btn btn-link">Skip if already configured</a>
                        </div>
                        <div class="form-group col-xs-6">
                            <a class="btn btn-default btn-block" type="button" value="Next"
                               ui-sref="root.patient.network">Next</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>