<section id="addPatient" class="container page-content">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h2>Patient Networks</h2>
            <form name="patientNetworksForm" novalidate>
                <fieldset>

                    <div ng-repeat="patientNetwork in ctrl.patientNetworks track by $index" class="row">

                        <div class="form-group col-xs-6"> <span class="glyphicon glyphicon-user"></span>
                            <div>{{patientNetwork.network}}</div>
                        </div>
                        <div class="form-group col-xs-6">
                            <switch id="enabled" name="enabled" ng-model="patientNetwork.enabled"
                                    on="On" off="Off" class="green"></switch>
                            <br>{{ patientNetwork.enabled }}
                        </div>

                    </div>

                    <div class="actions row">

                        <div class="form-group col-xs-4 col-xs-offset-2">
                            <a class="btn btn-default btn-block" type="button" value="Next"
                               ui-sref="root.patient.network.add">Add Patient Network</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>